<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
    <body>
	    <ui:composition>
	
		  <footer class="main-footer">
		    <div class="pull-right hidden-xs">
		      <b>Version</b> 2.4.0
		    </div>
		   <strong>Copyright @; 2017-2018 <a href="#">Tulsaspark</a>.</strong> All rights
		      reserved.
		  </footer>

				
	    </ui:composition>
    </body>
</html>
