<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
	
	  <h:head></h:head> 
	   <body>
	   
	   <p:importEnum type="com.pc.entity.enums.UserRolesEnum" />
	   <ui:composition>
		    
		    
		
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <!-- <img src="../../resources/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/> -->
          <p:graphicImage cache="false"  value="#{profileUI.imageFromDB}" id="profileImg3" styleClass="img-circle" rendered="true"/>
        </div>
        <div class="pull-left info">
          <p>#{profileUI.currentUser.name} #{profileUI.currentUser.surname}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

    <!--   
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        Optionally, you can add icons to the links
        <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
        <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>
      </ul> 
      
       <li ><a href="#{request.contextPath}/admin/reports.xhtml"><i class="fa fa-th"></i> <span>Reports</span></a></li>-->
      
      <div class="authorization-div">
      	
      	<!-- User links -->
		<sec:authorize access="hasRole('ROLE_USER')">
			  <ul class="sidebar-menu" data-widget="tree">
		        <li class="header">QUICK LINKS</li>
		        <li ><a href="#{request.contextPath}/dashboard.xhtml"><i class="fa fa-home"></i> <span>Home</span></a></li>
		        <li ><a href="#{request.contextPath}/user/profile.xhtml"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
		      
		      <!-- Employee links -->
		       <sec:authorize access="hasRole('ROLE_EMPLOYEE')">
		       	  <li ><a href="#{request.contextPath}/emp/buyingbackcenter.xhtml"><i class="fa fa-money"></i> <span>Buy Back Center</span></a></li>
		       	  <li ><a href="#{request.contextPath}/emp/addcustomer.xhtml"><i class="fa fa-users"></i> <span>Seller Management</span></a></li>
		       	  <li ><a href="#{request.contextPath}/emp/buyingbackcentermanagement.xhtml"><i class="fa fa-money"></i> <span>Payment Management</span></a></li>
		       </sec:authorize>
		        
		        <!-- Admin links -->
		        <sec:authorize access="hasRole('ROLE_ADMIN')">
		             <li ><a href="#{request.contextPath}/admin/lookups.xhtml"><i class="fa fa-th"></i> <span>Lookups</span></a></li>
			         <li ><a href="#{request.contextPath}/admin/assignuserroles.xhtml"><i class="fa fa-key"></i> <span>User Management</span></a></li>
			    </sec:authorize>
		      </ul>
		</sec:authorize>
	</div>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
					
		    </ui:composition>
	   </body> 
</html>
