<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>Item</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> Item</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									               <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Description" for="desc" />
							                            <p:inputText  id="desc" value="#{itemUI.item.description}" style="width:100%" required="true" requiredMessage="Please enter description">
							                            	 <p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                     <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Code" for="code" />
							                            <p:inputText  id="code" value="#{itemUI.item.code}" style="width:100%" required="true" requiredMessage="Please enter code">
							                            	 <p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                     
								                     <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Product Example" for="productExample" />
							                            <p:inputText  id="productExample" value="#{itemUI.item.productExample}" style="width:100%" required="true" requiredMessage="Please enter product example">
							                            	 <p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                    <h:panelGroup styleClass="md-inputfield">
		                                                <small><p:outputLabel value="Item Category"  /></small>
		                                                <p:selectOneMenu id="province" value="#{itemUI.item.category}" converter="#{categoryConvertor}" style="width:100%" requiredMessage="Select category" required="true">
		                                                    <f:selectItem itemLabel="---Select Category---" noSelectionOption="true" />
		                                                    <f:selectItems value="#{commonItemUI.selectItemsCategory}" var="rv" itemLabel="#{rv.title}" itemValue="#{rv}" />
		                                                    <p:ajax/>
		                                                </p:selectOneMenu>
		                                            </h:panelGroup>
		                                            
								                    <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel value="Enter Price Per KG" for="price" />
							                            <p:inputText type="number"  id="price" value="#{itemUI.item.pricePerKg}"  style="width:100%" required="true" requiredMessage="Please enter price per kg">
							                            	 <p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                     <h:panelGroup styleClass="md-inputfield">
										    		 
										    		 </h:panelGroup>
								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{itemUI.saveItem}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{itemUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{itemUI.itemList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Item List" />
										    </f:facet>
										    
										   
										    
										    <p:column headerText="Description"  sortBy="#{var.description}">
										        <h:outputText value="#{var.description}"/>
										    </p:column>
										    
										    <p:column headerText="Category"  sortBy="#{var.category.description}">
										        <h:outputText value="#{var.category.title}"/>
										    </p:column>
										    
										    <p:column headerText="Code"  sortBy="#{var.code}">
										        <h:outputText value="#{var.code}"/>
										    </p:column>
										     
										    <p:column headerText="Product Example"  sortBy="#{var.productExample}">
										        <h:outputText value="#{var.productExample}"/>
										    </p:column>
										    
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="135">
										    	<p:commandButton class="btn btn-block btn-primary btn-xs" oncomplete="PF('imgDialog').show()"  icon="fa  fa-file-image-o" title="Upload Image" process="@this" update="imgDialog imageForm">
													<f:setPropertyActionListener value="#{var}" target="#{itemUI.item}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{itemUI.item}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{itemUI.deleteItem}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this item?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{itemUI.item}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
			
			<p:dialog widgetVar="imgDialog" position="top" hideEffect="clip" showEffect="clip" id="imgDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="80%" responsive="true" closeOnEscape="true">
			  <f:facet name="header">
		              <h4 class="box-title">Upload Image</h4>
		      </f:facet>
	          <h:form id="imageForm" enctype="multipart/form-data">
		            <div class="box-body box-profile">							
		                  <br/>	            	              
			              <center>
			                 <p:graphicImage   value="#{streamContentUI.imageFromDB}" cache="false" width="50%" height="50%"  id="compLogo"  rendered="true">
			                 	<f:param name="id" value="#{itemUI.item.image.id}" />
			                </p:graphicImage>
			              </center>															
		                  <br/>
		            	 				                         
                          <h:panelGroup styleClass="md-inputfield">
                          	  	<center><p:fileUpload  fileUploadListener="#{itemUI.handleFileUpload}" mode="advanced"
           					 update="compLogo"  label="Select Image" auto="true" immediate="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" /></center>
                         </h:panelGroup>
		            </div>
		       </h:form>
		    </p:dialog>
			
    	</ui:define>
    </ui:composition>
</body> 
</html>
