<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>BankingDetails</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> BankingDetails</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              														  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="deleted" for="deleted" />
														    <p:inputText  id="deleted" value="#{bankingDetailsUI.bankingDetails.deleted}"  style="width:100%" required="true" requiredMessage="Please enter deleted"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="branchCode" for="branchCode" />
														    <p:inputText  id="branchCode" value="#{bankingDetailsUI.bankingDetails.branchCode}"  style="width:100%" required="true" requiredMessage="Please enter branchCode"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="creatorUser" for="creatorUser" />
														    <p:inputText  id="creatorUser" value="#{bankingDetailsUI.bankingDetails.creatorUser}"  style="width:100%" required="true" requiredMessage="Please enter creatorUser"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="bank" for="bank" />
														    <p:inputText  id="bank" value="#{bankingDetailsUI.bankingDetails.bank}"  style="width:100%" required="true" requiredMessage="Please enter bank"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="swiftCode" for="swiftCode" />
														    <p:inputText  id="swiftCode" value="#{bankingDetailsUI.bankingDetails.swiftCode}"  style="width:100%" required="true" requiredMessage="Please enter swiftCode"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="accountNumber" for="accountNumber" />
														    <p:inputText  id="accountNumber" value="#{bankingDetailsUI.bankingDetails.accountNumber}"  style="width:100%" required="true" requiredMessage="Please enter accountNumber"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="branchName" for="branchName" />
														    <p:inputText  id="branchName" value="#{bankingDetailsUI.bankingDetails.branchName}"  style="width:100%" required="true" requiredMessage="Please enter branchName"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="accountHolder" for="accountHolder" />
														    <p:inputText  id="accountHolder" value="#{bankingDetailsUI.bankingDetails.accountHolder}"  style="width:100%" required="true" requiredMessage="Please enter accountHolder"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{bankingDetailsUI.saveBankingDetails}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{bankingDetailsUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{bankingDetailsUI.bankingDetailsList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="BankingDetails List" />
										    </f:facet>
										    
										    											<p:column headerText="deleted"  sortBy="#{var.deleted}">
											    <h:outputText value="#{var.deleted}"/>
											 </p:column>

 											<p:column headerText="branchCode"  sortBy="#{var.branchCode}">
											    <h:outputText value="#{var.branchCode}"/>
											 </p:column>

 											<p:column headerText="creatorUser"  sortBy="#{var.creatorUser}">
											    <h:outputText value="#{var.creatorUser}"/>
											 </p:column>

 											<p:column headerText="bank"  sortBy="#{var.bank}">
											    <h:outputText value="#{var.bank}"/>
											 </p:column>

 											<p:column headerText="swiftCode"  sortBy="#{var.swiftCode}">
											    <h:outputText value="#{var.swiftCode}"/>
											 </p:column>

 											<p:column headerText="accountNumber"  sortBy="#{var.accountNumber}">
											    <h:outputText value="#{var.accountNumber}"/>
											 </p:column>

 											<p:column headerText="branchName"  sortBy="#{var.branchName}">
											    <h:outputText value="#{var.branchName}"/>
											 </p:column>

 											<p:column headerText="accountHolder"  sortBy="#{var.accountHolder}">
											    <h:outputText value="#{var.accountHolder}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{bankingDetailsUI.bankingDetails}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{bankingDetailsUI.deleteBankingDetails}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this bankingDetails?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{bankingDetailsUI.bankingDetails}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
