<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>BuyingBackCenter</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> BuyingBackCenter</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              														  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="creatorUser" for="creatorUser" />
														    <p:inputText  id="creatorUser" value="#{buyingBackCenterUI.buyingBackCenter.creatorUser}"  style="width:100%" required="true" requiredMessage="Please enter creatorUser"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="customerUser" for="customerUser" />
														    <p:inputText  id="customerUser" value="#{buyingBackCenterUI.buyingBackCenter.customerUser}"  style="width:100%" required="true" requiredMessage="Please enter customerUser"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="refNumber" for="refNumber" />
														    <p:inputText  id="refNumber" value="#{buyingBackCenterUI.buyingBackCenter.refNumber}"  style="width:100%" required="true" requiredMessage="Please enter refNumber"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="amountDue" for="amountDue" />
														    <p:inputText  id="amountDue" value="#{buyingBackCenterUI.buyingBackCenter.amountDue}"  style="width:100%" required="true" requiredMessage="Please enter amountDue"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="paymentDate" for="paymentDate" />
														    <p:inputText  id="paymentDate" value="#{buyingBackCenterUI.buyingBackCenter.paymentDate}"  style="width:100%" required="true" requiredMessage="Please enter paymentDate"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="receivedDate" for="receivedDate" />
														    <p:inputText  id="receivedDate" value="#{buyingBackCenterUI.buyingBackCenter.receivedDate}"  style="width:100%" required="true" requiredMessage="Please enter receivedDate"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="paidAmount" for="paidAmount" />
														    <p:inputText  id="paidAmount" value="#{buyingBackCenterUI.buyingBackCenter.paidAmount}"  style="width:100%" required="true" requiredMessage="Please enter paidAmount"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="balance" for="balance" />
														    <p:inputText  id="balance" value="#{buyingBackCenterUI.buyingBackCenter.balance}"  style="width:100%" required="true" requiredMessage="Please enter balance"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="status" for="status" />
														    <p:inputText  id="status" value="#{buyingBackCenterUI.buyingBackCenter.status}"  style="width:100%" required="true" requiredMessage="Please enter status"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{buyingBackCenterUI.saveBuyingBackCenter}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{buyingBackCenterUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{buyingBackCenterUI.buyingBackCenterList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="BuyingBackCenter List" />
										    </f:facet>
										    
										    											<p:column headerText="creatorUser"  sortBy="#{var.creatorUser}">
											    <h:outputText value="#{var.creatorUser}"/>
											 </p:column>

 											<p:column headerText="customerUser"  sortBy="#{var.customerUser}">
											    <h:outputText value="#{var.customerUser}"/>
											 </p:column>

 											<p:column headerText="refNumber"  sortBy="#{var.refNumber}">
											    <h:outputText value="#{var.refNumber}"/>
											 </p:column>

 											<p:column headerText="amountDue"  sortBy="#{var.amountDue}">
											    <h:outputText value="#{var.amountDue}"/>
											 </p:column>

 											<p:column headerText="paymentDate"  sortBy="#{var.paymentDate}">
											    <h:outputText value="#{var.paymentDate}"/>
											 </p:column>

 											<p:column headerText="receivedDate"  sortBy="#{var.receivedDate}">
											    <h:outputText value="#{var.receivedDate}"/>
											 </p:column>

 											<p:column headerText="paidAmount"  sortBy="#{var.paidAmount}">
											    <h:outputText value="#{var.paidAmount}"/>
											 </p:column>

 											<p:column headerText="balance"  sortBy="#{var.balance}">
											    <h:outputText value="#{var.balance}"/>
											 </p:column>

 											<p:column headerText="status"  sortBy="#{var.status}">
											    <h:outputText value="#{var.status}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{buyingBackCenterUI.buyingBackCenter}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{buyingBackCenterUI.deleteBuyingBackCenter}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this buyingBackCenter?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{buyingBackCenterUI.buyingBackCenter}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
