<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>ContactUs</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> ContactUs</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              														  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="name" for="name" />
														    <p:inputText  id="name" value="#{contactUsUI.contactUs.name}"  style="width:100%" required="true" requiredMessage="Please enter name"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="message" for="message" />
														    <p:inputText  id="message" value="#{contactUsUI.contactUs.message}"  style="width:100%" required="true" requiredMessage="Please enter message"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="surname" for="surname" />
														    <p:inputText  id="surname" value="#{contactUsUI.contactUs.surname}"  style="width:100%" required="true" requiredMessage="Please enter surname"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="cellNumber" for="cellNumber" />
														    <p:inputText  id="cellNumber" value="#{contactUsUI.contactUs.cellNumber}"  style="width:100%" required="true" requiredMessage="Please enter cellNumber"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="email" for="email" />
														    <p:inputText  id="email" value="#{contactUsUI.contactUs.email}"  style="width:100%" required="true" requiredMessage="Please enter email"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{contactUsUI.saveContactUs}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{contactUsUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{contactUsUI.contactUsList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="ContactUs List" />
										    </f:facet>
										    
										    											<p:column headerText="name"  sortBy="#{var.name}">
											    <h:outputText value="#{var.name}"/>
											 </p:column>

 											<p:column headerText="message"  sortBy="#{var.message}">
											    <h:outputText value="#{var.message}"/>
											 </p:column>

 											<p:column headerText="surname"  sortBy="#{var.surname}">
											    <h:outputText value="#{var.surname}"/>
											 </p:column>

 											<p:column headerText="cellNumber"  sortBy="#{var.cellNumber}">
											    <h:outputText value="#{var.cellNumber}"/>
											 </p:column>

 											<p:column headerText="email"  sortBy="#{var.email}">
											    <h:outputText value="#{var.email}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{contactUsUI.contactUs}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{contactUsUI.deleteContactUs}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this contactUs?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{contactUsUI.contactUs}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
