<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>CustomerProduct</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> CustomerProduct</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              														  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="item" for="item" />
														    <p:inputText  id="item" value="#{customerProductUI.customerProduct.item}"  style="width:100%" required="true" requiredMessage="Please enter item"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="customerUser" for="customerUser" />
														    <p:inputText  id="customerUser" value="#{customerProductUI.customerProduct.customerUser}"  style="width:100%" required="true" requiredMessage="Please enter customerUser"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="creatorUser" for="creatorUser" />
														    <p:inputText  id="creatorUser" value="#{customerProductUI.customerProduct.creatorUser}"  style="width:100%" required="true" requiredMessage="Please enter creatorUser"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="pricePerKG" for="pricePerKG" />
														    <p:inputText  id="pricePerKG" value="#{customerProductUI.customerProduct.pricePerKG}"  style="width:100%" required="true" requiredMessage="Please enter pricePerKG"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{customerProductUI.saveCustomerProduct}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{customerProductUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{customerProductUI.customerProductList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="CustomerProduct List" />
										    </f:facet>
										    
										    											<p:column headerText="item"  sortBy="#{var.item}">
											    <h:outputText value="#{var.item}"/>
											 </p:column>

 											<p:column headerText="customerUser"  sortBy="#{var.customerUser}">
											    <h:outputText value="#{var.customerUser}"/>
											 </p:column>

 											<p:column headerText="creatorUser"  sortBy="#{var.creatorUser}">
											    <h:outputText value="#{var.creatorUser}"/>
											 </p:column>

 											<p:column headerText="pricePerKG"  sortBy="#{var.pricePerKG}">
											    <h:outputText value="#{var.pricePerKG}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{customerProductUI.customerProduct}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{customerProductUI.deleteCustomerProduct}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this customerProduct?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{customerProductUI.customerProduct}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
