<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
	
	  <h:head></h:head> 
	   <body>
	   
	   <p:importEnum type="com.pc.entity.enums.UserRolesEnum" />
	   <ui:composition>
		<div class="sidebar" data-color="black" data-image="#{request.contextPath}/resources/lbd/assets/img/graduation.jpg">
		    <!--
		
		        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
		        Tip 2: you can also add an image using data-image tag
		
		    -->
		
		    	<div class="sidebar-wrapper">
		            <div class="logo">
		                <a href="http://www.creative-tim.com" class="simple-text">
		                  Tertiary Verify
		                </a>
		            </div>
		
		           	<sec:authorize access="hasRole('ROLE_USER')">
			            <ul class="nav">
			                <li>
			                    <a href="#{request.contextPath}/dashboard.xhtml">
			                        <i class="fa fa-th-large"></i>
			                        <p>Dashboard</p>
			                    </a>
			                </li>
			                <li>
			                    <a href="#{request.contextPath}/user/institutionregistration.xhtml">
			                        <i class="fa   fa-building"></i>
			                        <p>Institution</p>
			                    </a>
			                </li>
			                
			              
			                
			                <li>
			                    <a href="#{request.contextPath}/user/profile.xhtml">
			                        <i class="fa fa-user"></i>
			                        <p>My Profile</p>
			                    </a>
			                </li>
			                <!-- Admin links -->
					        <sec:authorize access="hasRole('ROLE_ADMIN')">
					        	<li>
				                    <a href="#{request.contextPath}/admin/reportedinstitutions.xhtml">
				                        <i class="fa fa-ban"></i>
				                        <p>Reported Institutions</p>
				                    </a>
				                </li>
					        	<li>
				                    <a href="#{request.contextPath}/admin/assignuserroles.xhtml">
				                        <i class="fa fa-users"></i>
				                        <p>User Management</p>
				                    </a>
				                </li>
				                <li>
				                    <a href="#{request.contextPath}/admin/lookups.xhtml">
				                        <i class="fa fa-th"></i>
				                        <p>Lookups</p>
				                    </a>
				                </li>
					        </sec:authorize>
							
			            </ul>
		           </sec:authorize>
		    	</div>
		    </div>
					
	</ui:composition>
	   </body> 
</html>
