<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 
	
	  <h:head></h:head> 
	   <body>
		    <ui:composition>
		
			<section class="content-header">
		      <h1>
		        Dashboard
		        <small>Control panel</small>
		      </h1>
		      <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		        <li class="active">Dashboard</li>
		      </ol>
		    </section>
		    
		    <!-- Main content -->
		    <section class="content">
		    
		    	<div class="row">
			        <div class="col-md-3 col-sm-6 col-xs-12">
			          <div class="info-box">
			            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
			
			            <div class="info-box-content">
			              <span class="info-box-text">CPU Traffic</span>
			              <span class="info-box-number">90<small>%</small></span>
			            </div>
			            <!-- /.info-box-content -->
			          </div>
			          <!-- /.info-box -->
			        </div>
			        <!-- /.col -->
			        <div class="col-md-3 col-sm-6 col-xs-12">
			          <div class="info-box">
			            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
			
			            <div class="info-box-content">
			              <span class="info-box-text">Likes</span>
			              <span class="info-box-number">41,410</span>
			            </div>
			            <!-- /.info-box-content -->
			          </div>
			          <!-- /.info-box -->
			        </div>
			        <!-- /.col -->
			
			        <!-- fix for small devices only -->
			        <div class="clearfix visible-sm-block"></div>
			
			        <div class="col-md-3 col-sm-6 col-xs-12">
			          <div class="info-box">
			            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
			
			            <div class="info-box-content">
			              <span class="info-box-text">Sales</span>
			              <span class="info-box-number">760</span>
			            </div>
			            <!-- /.info-box-content -->
			          </div>
			          <!-- /.info-box -->
			        </div>
			        <!-- /.col -->
			        <div class="col-md-3 col-sm-6 col-xs-12">
			          <div class="info-box">
			            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
			
			            <div class="info-box-content">
			              <span class="info-box-text">New Members</span>
			              <span class="info-box-number">2,000</span>
			            </div>
			            <!-- /.info-box-content -->
			          </div>
			          <!-- /.info-box -->
			        </div>
			        <!-- /.col -->
			      </div>
		    
		    
		
		    </section>
					
		    </ui:composition>
	   </body> 
</html>
