<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
    <body>
	    <ui:composition>
	        <footer class="footer">
	            <div class="container-fluid">
	                 <nav class="pull-left">
	                    <ul>
	                        <li>
	                            <a href="#{request.contextPath}/dashboard.xhtml">
	                                Home
	                            </a>
	                        </li>
	                       
	                    </ul>
	                </nav>
	                <p class="copyright pull-right">
	                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="#">Tertiary Verify</a>, All rights saved
	                </p>
	            </div>
	        </footer>
				
	    </ui:composition>
    </body>
</html>
