<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    	<div>
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-users"></i> User Management</h3>
							 </div>
							 
							    <div class="box box-default color-palette-box">
							 	   <div class="box-body">
								 	   		<div class="box-header with-border">
												 <h3 class="box-title"><i class="fa fa-user"></i> Add User</h3>
											 </div>
											 <h:form id="addUserForm">
											 	 <p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
										       
											         <h:panelGroup styleClass="md-inputfield">
														   <small><p:outputLabel value="Enter ID Number" for="idNum" /></small>
										                   <p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"   requiredMessage="Please enter id number"/>
											          </h:panelGroup>
											          
											          <h:panelGroup styleClass="md-inputfield">
															<small><p:outputLabel value="Title"  /></small>
															<p:selectOneMenu id="title" value="#{userUI.user.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
																<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
																<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
															</p:selectOneMenu>
													</h:panelGroup>	
															   
													 <h:panelGroup styleClass="md-inputfield">
														   <small><p:outputLabel value="Enter Name" for="name" /></small>
										                   <p:inputText validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided" value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name">
										                   	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
										                   </p:inputText>
											           </h:panelGroup>
											                     
											          <h:panelGroup styleClass="md-inputfield">
															<small><p:outputLabel value="Enter Surname" for="surname" /></small>
										                    <p:inputText validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided" value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname">
										                    	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
										                    </p:inputText>
											           </h:panelGroup>
											                     
											           <h:panelGroup styleClass="md-inputfield">
														     <small><p:outputLabel value="Enter Cell Number" for="cell" /></small>
										                     <p:inputMask  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
											           </h:panelGroup>
											                     
											           <h:panelGroup styleClass="md-inputfield">
															 <small><p:outputLabel value="Enter Email" for="email" /></small>
										                     <p:inputText value="#{userUI.user.email}" id="email"  style="width:100%" required="true" type="email"  requiredMessage="Please enter email address"/>
											           </h:panelGroup>
										                 
										              
											             
											           <h:panelGroup styleClass="md-inputfield">
										                       <br/>
										                       <p:commandButton value="Submit" icon="fa fa-save" onstart="PF('loading').show()" oncomplete="#{userRoleUI.loadUsers()};PF('loading').hide()" class="btn btn-primary" update="@form usersForm" actionListener="#{userUI.registeUser}"/>
								                     			<p:spacer width="10"/>
								                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" process="@this" update="@form" actionListener="#{userUI.reset}"/>
								                       </h:panelGroup>
											             
											        
										     </p:panelGrid>
									     </h:form>
							 	   </div>
								</div>
							 
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		 <h:form id="usersForm">
								 	   		 			<p:fieldset rendered="#{userRoleUI.userList.size() gt 0}" >
															<ui:include src="/user/download_lazy.xhtml">
																<ui:param name="file_name" value="Users" />
																<ui:param name="target" value="userList" />
															</ui:include>
														</p:fieldset>
												    	<p:dataTable  var="var" value="#{userRoleUI.userList}" id="userList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
															paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true" selectionMode="single" selection="#{userRoleUI.selectedUser}">
												    	   
												    	    <p:ajax event="rowSelect" update=":rolesForm" listener="#{userRoleUI.loadUserRoles}" />
												    	   
												    	  <f:facet name="header">
														           <h:outputText value="Registered Users" />
														    </f:facet>
														    
														    <p:column headerText="ID Number"  sortBy="#{var.rsaId}">
														        <h:outputText value="#{var.rsaId}"/>
														    </p:column>
														    
														    
														    <p:column headerText="Name"  sortBy="#{var.name}">
														        <h:outputText value="#{var.name}"/>
														    </p:column>
														    
														    <p:column headerText="Surname"  sortBy="#{var.surname}">
														        <h:outputText value="#{var.surname}"/>
														    </p:column>
														  
														    <p:column headerText="Registered Date"  sortBy="#{var.createDate}">
														        <h:outputText value="#{var.createDate}"/>
														    </p:column>
														    
														    <p:column width="100" exportable="false">
																<p:commandButton action="#{userRoleUI.preperPopup}" oncomplete="PF('userRoleDialog').show()" class="btn btn-block btn-info btn-xs"  icon="fa fa-search-plus" title="View Roles" process="@this" update="userRoleDialog">
																	<f:setPropertyActionListener value="#{var}"  target="#{userRoleUI.selectedUser}" />
																</p:commandButton>
																<p:spacer width="10"></p:spacer>
																<p:commandButton action="#{userRoleUI.deleteUser}" class="btn btn-block btn-danger btn-xs"  icon="fa fa-trash-o" title="Delete User" process="@this" update="@form">
																	<p:confirm header="Confirm" message="This will delete alldata related to this user, Are you sure you want to delete this user?" icon="ui-icon-warning" />
																	<f:setPropertyActionListener value="#{var}"  target="#{userRoleUI.user}" />
																</p:commandButton>
															</p:column>	
														</p:dataTable>
											</h:form>
														
								 	   </div>
					   			 </div>
					   
					   			<h:form id="rolesForm">
								   		<p:panel  style="width:100%"  rendered="#{userRoleUI.showRoleDetails}" toggleable="true" id="rolePanel" header="Select Role(s) For: #{userRoleUI.selectedUser.name} #{userRoleUI.selectedUser.surname}" styleClass="margin" >
								   		
								   			<p:pickList style="width:100%" id="roleAnySelectionPickList" value="#{userRoleUI.rolesDualList}" var="roleRW" itemLabel=" #{roleRW.description}" itemValue="#{roleRW}" converter="#{roleConvertor}" responsive="true" showCheckbox="true"
												showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" effect="drop" styleClass="picklist-responsive" >
												<p:ajax event="transfer" listener="#{userRoleUI.preparShowBBC}" update="@form" />
												<f:facet name="sourceCaption">Available Roles</f:facet>
												 <f:facet name="targetCaption">Selected user roles</f:facet>
											</p:pickList>
											
											<h:panelGroup styleClass="md-inputfield" rendered="#{userRoleUI.showBbc or userRoleUI.selectedUser.bbc ne null}" >
							 	      		 	<p:outputLabel style="width:100%;padding-left:40px" value="Select Buy back Center" for="bbc" /><br/>
									 	   		<p:autoComplete style="padding-left:40px"  var="var" itemLabel="#{var.description}" itemValue="#{var}" forceSelection="true" id="bbc" dropdown="true"  value="#{userRoleUI.selectedUser.bbc}"  converter="#{BBCConvertor}" completeMethod="#{commonItemUI.autoCompleteBBC}">
				                     		 		<p:column headerText="BBC Name">
										            	<h:outputText value="#{var.description}" />
										            </p:column>
										            <p:column  headerText="Municipality">
										                <h:outputText value="#{var.municipality.description}" />
										            </p:column>
										            <p:column  headerText="City/Town">
										                <h:outputText value="#{var.cityTown.description}" />
										            </p:column>
										            <p:ajax event="itemSelect"  update="@form"></p:ajax>
				                     		 	</p:autoComplete>
			                     		 	</h:panelGroup>
											<br/>
											<br/>
											<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
												<h:panelGroup styleClass="md-inputfield">
												<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" process="@form usersForm" update="@form" actionListener="#{userRoleUI.clearSelectUser}"/>
										        </h:panelGroup>
												<h:panelGroup styleClass="md-inputfield">
													<p:spacer></p:spacer> <p:commandButton value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form usersForm" actionListener="#{userRoleUI.saveUserRoles}"/>
										        </h:panelGroup>
											</p:panelGrid>
								   		</p:panel>
								   		<br/>
								 
								 </h:form>
					   		 </div>
					   		 </div>
			</section>
			
			
		<p:dialog widgetVar="userRoleDialog" hideEffect="clip" showEffect="clip" id="userRoleDialog" appendTo="@(body)" modal="true" closable="true" width="25%" height="50%" responsive="true" closeOnEscape="true">
			<f:facet name="header">
	              <h4 class="box-title">#{userRoleUI.selectedUser.name} #{userRoleUI.selectedUser.surname} Role(s)</h4>
	        </f:facet>
			
			<h:form id="userRoleDialogForm">
				
		              <div id="external-events">
		                <p:repeat var="var" value="#{userRoleUI.currentUserRoles}">
							<div class="external-event bg-green">#{var.role.description}</div>
						</p:repeat>
		              </div>
		              
		              <p:fieldset  rendered="#{userRoleUI.currentUserRoles.size() lt 1}">
		              	  <br/>
			              <div  class="alert alert-info">
			                No Roles available for #{userRoleUI.selectedUser.name} #{userRoleUI.selectedUser.surname}
			              </div>
		              </p:fieldset>
			</h:form>
		</p:dialog>
			
			
			
    	</ui:define>
    </ui:composition>
</body> 
</html>
