<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
		<div>
		
			<h:form>
				     <!-- Main content -->
		    		<section class="content">
		    			<h:form id="mainForm">
			    			<div class="box box-default color-palette-box">
								 <div class="box-header with-border">
								     <h3 class="box-title"><i class="fa fa-th"></i> Lookups</h3>
							      </div>
							      
							       <div class="box box-default color-palette-box">
								 	   
								 	    	 <p:panelGrid  columns="1" layout="grid" >
								 	    	 
								 	    	 	 <p:repeat value="#{lookupsUI.lookupMenuBeansList}" var="menu">
													<div class="col-lg-3 col-xs-6">
											          <!-- small box -->
											          <div class="small-box bg-#{commonUI.primaryColour}">
											          	<hr/>
											              <center><h4>#{menu.heading}</h4></center>
															<a href="#{request.contextPath}/admin/lookups/#{menu.link}" class="small-box-footer">
												              More info <i class="fa fa-arrow-circle-right"></i>
												            </a>
											          </div>
											        </div>
								 	    	 	 </p:repeat>
								 	    	 </p:panelGrid>
								 		
					   			    </div>
					   		 </div>
					   		 
					   		
					    
					    </h:form>
					</section>
					
			</h:form>
			</div>
    	</ui:define>
    </ui:composition>
    
    
    
</body> 
</html>
