<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>MailLog</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> MailLog</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              	  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="content" for="content" />
														    <p:inputText  id="content" value="#{mailLogUI.mailLog.content}"  style="width:100%" required="true" requiredMessage="Please enter content"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="cc" for="cc" />
														    <p:inputText  id="cc" value="#{mailLogUI.mailLog.cc}"  style="width:100%" required="true" requiredMessage="Please enter cc"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="subject" for="subject" />
														    <p:inputText  id="subject" value="#{mailLogUI.mailLog.subject}"  style="width:100%" required="true" requiredMessage="Please enter subject"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="from" for="from" />
														    <p:inputText  id="from" value="#{mailLogUI.mailLog.from}"  style="width:100%" required="true" requiredMessage="Please enter from"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="to" for="to" />
														    <p:inputText  id="to" value="#{mailLogUI.mailLog.to}"  style="width:100%" required="true" requiredMessage="Please enter to"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="errorMessage" for="errorMessage" />
														    <p:inputText  id="errorMessage" value="#{mailLogUI.mailLog.errorMessage}"  style="width:100%" required="true" requiredMessage="Please enter errorMessage"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{mailLogUI.saveMailLog}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{mailLogUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{mailLogUI.mailLogList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="MailLog List" />
										    </f:facet>
										    
										    											<p:column headerText="content"  sortBy="#{var.content}">
											    <h:outputText value="#{var.content}"/>
											 </p:column>

 											<p:column headerText="cc"  sortBy="#{var.cc}">
											    <h:outputText value="#{var.cc}"/>
											 </p:column>

 											<p:column headerText="subject"  sortBy="#{var.subject}">
											    <h:outputText value="#{var.subject}"/>
											 </p:column>

 											<p:column headerText="from"  sortBy="#{var.from}">
											    <h:outputText value="#{var.from}"/>
											 </p:column>

 											<p:column headerText="to"  sortBy="#{var.to}">
											    <h:outputText value="#{var.to}"/>
											 </p:column>

 											<p:column headerText="errorMessage"  sortBy="#{var.errorMessage}">
											    <h:outputText value="#{var.errorMessage}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{mailLogUI.mailLog}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{mailLogUI.deleteMailLog}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this mailLog?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{mailLogUI.mailLog}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
