<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

     <body>
	    <ui:composition>
			 <nav class="navbar navbar-default navbar-fixed">
	            <div class="container-fluid" style="background-color: black;">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    
	                    <a class="navbar-brand" href="#">ADMINISTRATOR</a>
	                </div>
	                <div class="collapse navbar-collapse">
	                    <ul class="nav navbar-nav navbar-left">
	                        <li>
	                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                               <!--  <i class="fa fa-dashboard"></i> -->
								   <p class="hidden-lg hidden-md">ADMINISTRATOR</p>
	                            </a>
	                        </li>
	                        
	                        
	                        <!-- <li class="dropdown">
	                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                    <i class="fa fa-globe"></i>
	                                    <b class="caret hidden-lg hidden-md"></b>
										<p class="hidden-lg hidden-md">
											10 Notifications
											<b class="caret"></b>
										</p>
	                              </a>
	                              <ul class="dropdown-menu">
	                                <li><a href="#">Notification 1</a></li>
	                                <li><a href="#">Notification 2</a></li>
	                                <li><a href="#">Notification 3</a></li>
	                                <li><a href="#">Notification 4</a></li>
	                                <li><a href="#">Another notification</a></li>
	                              </ul>
	                        </li> -->
	                       
	                    </ul>
	
	                    <ul class="nav navbar-nav navbar-right">
	                       <!--  <li>
	                           <a href="">
	                               <p>Dropdown</p>
	                            </a>
	                        </li>
	                        <li class="dropdown">
	                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                    <p>
											Dropdown
											<b class="caret"></b>
										</p>
	
	                              </a>
	                              <ul class="dropdown-menu">
	                                <li><a href="#">Action</a></li>
	                                <li><a href="#">Another action</a></li>
	                                <li><a href="#">Something</a></li>
	                                <li><a href="#">Another action</a></li>
	                                <li><a href="#">Something</a></li>
	                                <li class="divider"></li>
	                                <li><a href="#">Separated link</a></li>
	                              </ul>
	                        </li> -->
	                        
	                           
	                         <h:form onsubmit="this.action='#{request.contextPath}/logout';" class="logout-form">
	                         <br/>
								<p:commandButton styleClass="btn-danger btn-xs" value="Logout" ajax="false" />
								<p:spacer width="25"></p:spacer>
							</h:form>
	                          
	                            
	                            
	                       
							<li class="separator hidden-lg"></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </ui:composition>
    </body>
</html>
