<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>BBC</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> BBC</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   		
									               <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="BBC Name" for="desc" />
							                            <p:inputText  id="desc" value="#{bBCUI.bBC.description}" style="width:100%" required="true" requiredMessage="Please enter description">
							                            	<p:ajax></p:ajax>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                    <h:panelGroup styleClass="md-inputfield">
                                                        <small><p:outputLabel value="Municipality"  /></small>
                                                        <p:selectOneMenu id="mun" value="#{bBCUI.bBC.municipality}" converter="#{municipalityConvertor}" style="width:100%" requiredMessage="Select municipality" required="true">
                                                            <f:selectItem itemLabel="---Select Municipality---" noSelectionOption="true" />
                                                            <f:selectItems value="#{commonItemUI.selectItemsMunicipality}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax  onstart="PF('loading').show()" oncomplete="PF('loading').hide()"  update="@form"/>
                                                        </p:selectOneMenu>
	                                                  </h:panelGroup>
	                                                  
	                                                 <h:panelGroup styleClass="md-inputfield">
	                                                     <small><p:outputLabel value="Province"  /></small>
	                                                     <p:inputText disabled="true"  id="prov" value="#{bBCUI.bBC.municipality.province.description}" style="width:100%" />
	                                                 </h:panelGroup>
	                                                 
	                                                 <h:panelGroup id="pgCity"  styleClass="md-inputfield" rendered="#{bBCUI.bBC.municipality.province ne null}">
                                                        <small><p:outputLabel value="City/Town"  /></small>
                                                        <p:selectOneMenu   id="city" value="#{bBCUI.bBC.cityTown}" converter="#{cityConvertor}" style="width:100%" requiredMessage="Select city" required="true">
                                                            <f:selectItem itemLabel="---Select City---" noSelectionOption="true" />
                                                            <f:selectItems value="#{bBCUI.selectItemsCity}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>
								                    
								                    <h:panelGroup styleClass="md-inputfield">
                                                       <p:outputLabel value="Select Location"/><br/>
                                                       <p:commandButton update="mapDialog mapForm" value="Click To Select"  oncomplete="PF('mapDialog').show()" class="btn"  icon="fa fa-map-marker" title="Select Location" process="@this"/>
												    </h:panelGroup>
								                    
								                    <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter latitude" for="latitude" />
							                            <p:inputText  id="latitude" value="#{bBCUI.bBC.latitude}" style="width:100%" required="true" requiredMessage="Please enter latitude"/>
								                    </h:panelGroup>
								                    
								                     <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter longitude" for="longitude" />
							                            <p:inputText  id="longitude" value="#{bBCUI.bBC.longitude}" style="width:100%" required="true" requiredMessage="Please enter longitude"/>
								                    </h:panelGroup>
								                   
                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 1" for="addressLine1" />
                                                        <p:inputText id="addressLine1" value="#{bBCUI.address.addressLine1}" style="width:100%" required="true" requiredMessage="Please enter residential address line 1">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 2" for="addressLine2" />
                                                        <p:inputText id="addressLine2" value="#{bBCUI.address.addressLine2}" style="width:100%" required="true" requiredMessage="Please enter residential address line 2">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 3" for="addressLine3" />
                                                        <p:inputText id="addressLine3" value="#{bBCUI.address.addressLine3}" style="width:100%" required="false" requiredMessage="Please enter residential address line 3">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                     <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 4" for="addressLine4" />
                                                        <p:inputText id="addressLine4" value="#{bBCUI.address.addressLine4}" style="width:100%" required="false" requiredMessage="Please enter residential address line 4">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                     <h:panelGroup  rendered="#{bBCUI.bBC.municipality.province ne null}" styleClass="md-inputfield">
								                   </h:panelGroup>
								                    

								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{bBCUI.saveBBC}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{bBCUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{bBCUI.bBCList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="BBC List" />
										    </f:facet>
										    
										   	<p:column headerText="BBC Name" filterBy="#{var.description}" sortBy="#{var.description}">
											    <h:outputText value="#{var.description}"/>
											 </p:column>


											 <p:column headerText="longitude"  sortBy="#{var.longitude}">
											    <h:outputText value="#{var.longitude}"/>
											 </p:column>

											 <p:column headerText="latitude"  sortBy="#{var.latitude}">
											    <h:outputText value="#{var.latitude}"/>
											 </p:column>

											 <p:column headerText="cityTown"  sortBy="#{var.cityTown}">
											    <h:outputText value="#{var.cityTown.description}"/>
											 </p:column>

											 <p:column headerText="municipality"  sortBy="#{var.municipality}">
											    <h:outputText value="#{var.municipality.description}"/>
											 </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" action="#{bBCUI.preparUpdate}" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{bBCUI.bBC}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{bBCUI.deleteBBC}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this bBC?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{bBCUI.bBC}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
			</section>
			 <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip" id="mapDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="70%" responsive="true" closeOnEscape="true">
					<f:facet name="header">
			              <h4 class="box-title">Select Location</h4>
			        </f:facet>
					<h:form id="mapForm" prependId="false"> 
					    <p:gmap widgetVar="gmap" rendered="true" id="gmap" center="-26.1714537,27.8999389" zoom="15" type="ROADMAP" style="width:100%;height:400px">
					        <p:ajax event="pointSelect" oncomplete="PF('mapDialog').hide()" update="mainForm"  listener="#{bBCUI.onPointSelect}" />
					    </p:gmap>
					    
					     <script type="text/javascript">
						    if (navigator.geolocation) {
						        checkGeolocationByHTML5();
						    } else {
						        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
						    }
						
						    function checkGeolocationByHTML5() {
						        navigator.geolocation.getCurrentPosition(function(position) {
						            setMapCenter(position.coords.latitude, position.coords.longitude);
						        }, function() {
						            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
						        });
						    }
						
						    function checkGeolocationByLoaderAPI() {
						        if (google.loader.ClientLocation) {
						            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
						        } else {
						            // Unsupported! Show error/warning?
						        }
						    }
						
						    function setMapCenter(latitude, longitude) {
						    	PF('gmap').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
						    }
						</script>
					</h:form>
			        
				</p:dialog>
			   <!-- Primefaces GMap -->
			   <script src="https://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyDxiAdnFXvi1RhFUQSd0Te7fve3W7YkCwA" type="text/javascript"></script>
			   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    	</ui:define>
    </ui:composition>
</body> 
</html>
