<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		
		    		<h:form id="mainForm" enctype="multipart/form-data">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>Category</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> Items Category</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			  <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter Title" for="title" />
							                            <p:inputText  id="title" value="#{categoryUI.category.title}" style="width:100%" required="true" requiredMessage="Please enter description">
							                            	<p:ajax></p:ajax>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
									               <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter Description" for="desc" />
							                            <p:inputText  id="desc" value="#{categoryUI.category.description}" style="width:100%" required="true" requiredMessage="Please enter description">
							                            	<p:ajax></p:ajax>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                  
								                   <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{categoryUI.saveCategory}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{categoryUI.reset}"/>
						                    	</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid"  id="tableForm">
								    	<p:dataTable var="var" value="#{categoryUI.categoryList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Category List" />
										    </f:facet>
										    
										     <p:column headerText="Titl"  sortBy="#{var.title}">
										        <h:outputText value="#{var.title}"/>
										    </p:column>
										    
										    <p:column headerText="Description"  sortBy="#{var.description}">
										        <h:outputText value="#{var.description}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="135">
										       <p:commandButton class="btn btn-block btn-primary btn-xs" oncomplete="PF('imgDialog').show()"  icon="fa  fa-file-image-o" title="Upload Image" process="@this" update="imgDialog imageForm">
													<f:setPropertyActionListener value="#{var}" target="#{categoryUI.category}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{categoryUI.category}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{categoryUI.deleteCategory}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this category?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{categoryUI.category}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
			
			
			<p:dialog position="top" widgetVar="imgDialog" hideEffect="clip" showEffect="clip" id="imgDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="80%" responsive="true" closeOnEscape="true">
			  <f:facet name="header">
		              <h4 class="box-title">Upload Image</h4>
		      </f:facet>
	          <h:form id="imageForm" enctype="multipart/form-data">
		            <div class="box-body box-profile">							
		                  <br/>	            	              
			              <center>
			                 <p:graphicImage   value="#{streamContentUI.imageFromDB}" cache="false" width="50%" height="50%"  id="compLogo"  rendered="true">
			                 	<f:param name="id" value="#{categoryUI.category.image.id}" />
			                </p:graphicImage>
			              </center>															
		                  <br/>
		            	 				                         
                          <h:panelGroup styleClass="md-inputfield">
                          	  	<center><p:fileUpload  fileUploadListener="#{categoryUI.handleFileUpload}" mode="advanced"
           					 update="compLogo"  label="Select Image" auto="true" immediate="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" /></center>
                         </h:panelGroup>
		            </div>
		       </h:form>
		        
		        
		    </p:dialog>
			
    	</ui:define>
    </ui:composition>
</body> 
</html>
