<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>Gender</displayName> -->
								 <h3 class="box-title"><i class="fa fa-venus-mars"></i> Gender</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									                <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter Gender Name" for="name" />
							                            <p:inputText  id="name" value="#{genderUI.gender.genderName}" style="width:100%" required="true" requiredMessage="Please enter gender name"/>
								                     </h:panelGroup>
								                     
								                      <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel value="Enter Code" for="code" />
							                            <p:inputText  id="code" value="#{genderUI.gender.code}"  style="width:100%" required="true" requiredMessage="Please enter code"/>
								                     </h:panelGroup>
								                     
								                     <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{genderUI.saveGender}"/>
						                               <p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{genderUI.reset}"/>
						                    		</h:panelGroup>
								                     
								             </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{genderUI.genderList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Genders" />
										    </f:facet>
										    
										    <p:column headerText="Id"  sortBy="#{var.id}" rendered="false">
										        <h:outputText value="#{var.id}"/>
										    </p:column>
										 
										    <p:column headerText="Gender Name" sortBy="#{var.genderName}">
										        <h:outputText value="#{var.genderName}" />
										    </p:column>
										 
										    <p:column headerText="Gender Code" sortBy="#{var.code}">
										        <h:outputText value="#{var.code}" />
										    </p:column>
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{genderUI.gender}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{genderUI.deleteGender}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this gender?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{genderUI.gender}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
