<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>Services</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> Services</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   		
								 	   			   <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel value="Enter Title" for="title" />
							                            <p:inputText  id="title" value="#{servicesUI.services.title}"  style="width:100%" required="true" requiredMessage="Please enter title">
							                            	<p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
									               <h:panelGroup styleClass="md-inputfield">
												   	 	 <p:outputLabel class="box-title" value="Enter Description" for="desc" />
							                            <p:inputText  id="desc" value="#{servicesUI.services.description}" style="width:100%" required="true" requiredMessage="Please enter description">
							                            	<p:ajax/>
							                            </p:inputText>
								                    </h:panelGroup>
								                    
								                     <h:panelGroup styleClass="md-inputfield">
							                          	    <p:fileUpload  fileUploadListener="#{servicesUI.handleFileUpload}" mode="advanced"
                  												  update="pgImgDisplay" label="Select Service Image" auto="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
                  										  </p:fileUpload>
							                         </h:panelGroup>
							                         
							                         <h:panelGroup id="pgImgDisplay" styleClass="md-inputfield">
							                          	<p:graphicImage cache="false" rendered="#{servicesUI.imageModel ne null}" style="margin:0px;"  value="#{servicesUI.imageFromDB}" id="serviceImg" styleClass="profile-user-img img-responsive "/>																
									                </h:panelGroup>
								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{servicesUI.saveServices}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{servicesUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{servicesUI.servicesList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Services List" />
										    </f:facet>
										    
										    <p:column headerText="Id"  sortBy="#{var.id}" rendered="false">
										        <h:outputText value="#{var.id}"/>
										    </p:column>
										    
										    <p:column headerText="Description"  sortBy="#{var.description}">
										        <h:outputText value="#{var.description}"/>
										    </p:column>
										    
										    <p:column headerText="Titl"  sortBy="#{var.title}">
										        <h:outputText value="#{var.title}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{servicesUI.services}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{servicesUI.deleteServices}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this services?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{servicesUI.services}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
