<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">
	 <!-- <p:repeat value="#{servicesUI.servicesList}" var="var">
	      <div class="col-md-3 text-center">
	        <div class="service-media"> <img src="/WasteManagement/resources/wm/img/service-1.jpg" alt=" "/> </div>
	        <div class="service-desc">
	          <h3>#{var.title}</h3>
	          <p>#{var.description}</p>
	        </div>
	      </div>
      </p:repeat> -->
   <ui:composition>
  
     <div id="testimonials">
		  <div class="overlay">
		    <div class="container">
		      <div class="section-title">
		        <h2 class="text-center">Buy Back Centers</h2>
		        <hr/>
		        	<h:form id="bbcMainFRM">
		        	
		        			
					       <p:fieldset  class="overlay">
					       		
								     
							    <p class="text-center" style="color:white">Click on the marker(Map Icon) to view detail information about the Buy Back Center</p>
								<p style="color:white;margin-left:10px;margin-right:10px;margin-bottom:0px">Filter By Province:</p>
								<p:fieldset  style="margin-left:10px;margin-right:10px;">
			        				 <h:panelGroup styleClass="md-inputfield">
								      	 <p:selectOneRadio style="margin:1px"  layout="responsive" value="#{bBCUI.province}" converter="#{provinceConvertor}" columns="9">
								           <f:selectItems value="#{commonItemUI.selectItemsProvince}" var="var" itemLabel="| #{var.description}: " itemValue="#{var}" />
								           <p:ajax update="bbcMainFRM:bbcGmap" listener="#{bBCUI.loadBBCs}"></p:ajax>
								        </p:selectOneRadio>
								        
								       		
								     </h:panelGroup>
								     
								      <p:commandLink id="ajax" styleClass="fa fa-repeat social" update="bbcMainFRM:bbcGmap" action="#{bBCUI.loadBBCs}">
								         	  <h:outputText value=" Clear" />
								         </p:commandLink>
								                       
			        			</p:fieldset>
								<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDxiAdnFXvi1RhFUQSd0Te7fve3W7YkCwA"></script>
			 
						        <h:form prependId="false">
								    <p:gmap id="bbcGmap" center="#{bBCUI.mapCenter}" zoom="#{bBCUI.mapZoom}" type="ROADMAP" model="#{bBCUI.simpleModel}"  style="height:800px;margin-left:10px;margin-right:10px;">
								        <p:ajax event="overlaySelect" onstart="PF('loading').show()" oncomplete="PF('loading').hide();PF('bbcDetailsDialog').show()" listener="#{bBCUI.onMarkerSelect}" update="bbcDetailsDialog" />
								    </p:gmap>
								</h:form>
								 
					      </p:fieldset>
						
				     </h:form>
		      
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<p:dialog  widgetVar="bbcDetailsDialog" hideEffect="clip" showEffect="clip"  id="bbcDetailsDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="50%" responsive="true" closeOnEscape="true">
			  <style type="text/css">
				    .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
				        text-align: center;
				    }
			  </style>	  
			  <f:facet name="header">
		           <h5 class="box-title">BBC Address</h5>
		      </f:facet>
		      
		       <p:panelGrid columns="2"  style="width:100%;">
				    <f:facet name="header">
				        <h:outputText value="#{bBCUI.bBC.description}" />
				    </f:facet>
				     
				    <h:outputText value="Municipality" />
				    <h:outputText value="#{bBCUI.bBC.municipality.description}" />
				    
				    <h:outputText value="Province" />
				    <h:outputText value="#{bBCUI.bBC.municipality.province.description}" />
				    
				    <h:outputText value="Address Line 1" />
				    <h:outputText value="#{bBCUI.bBC.residentialAddress.addressLine1}" />
				    
				     <h:outputText value="Address Line 2" />
				    <h:outputText value="#{bBCUI.bBC.residentialAddress.addressLine2}" />
				    
				    <h:outputText value="Address Line 3" />
				    <h:outputText value="#{bBCUI.bBC.residentialAddress.addressLine3}" />
				    
				    <h:outputText value="Address Line 4" />
				    <h:outputText value="#{bBCUI.bBC.residentialAddress.addressLine4}" />
				    
				    
				     
				</p:panelGrid>
		      
		</p:dialog>
		
   </ui:composition>

</html>