<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
        <!-- Footer Section -->
		<div id="footer">
		  <div class="container text-center">
		    <div class="col-md-8 col-md-offset-2">
		      <div class="social">
		        <ul>
		          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		        </ul>
		      </div>
		      <p>&copy; 2019 Waste Management. Designed by <a href="#" rel="nofollow">Team WM</a></p>
		    </div>
		  </div>
		  
		    <!-- Global Growl Message -->
		    <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
		  
		    <!-- Global Confirm Dialog -->
		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="350">
				<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes btn btn-success btn-xs" icon="ui-icon-check" />
				<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no btn btn-warning btn-xs" icon="ui-icon-close" />
			</p:confirmDialog>
			
			<!-- Global loading Dialog -->
			<p:dialog widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="25%" height="25%" responsive="true" closeOnEscape="true">
				<div class="col-md-12">
		          <div class="box box-danger">
		            <div class="box-header">
		              	<h3 class="box-title">Loading...</h3>
		            </div>
		            <div class="box-body">
		           		  Please wait...
		            </div>
		            <div class="overlay">
		             	 <i class="fa fa-refresh fa-spin"></i>
		            </div>
		          </div>
			    </div>
			</p:dialog>
		    
		</div>
   </ui:composition>

</html>