<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      	<!-- registertosell Section -->
		<div id="registertosell">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-12 col-md-6">
		        <div class="registertosell-text">
		          <h2><i class="fa fa-address-card"></i> Register To <span>Sell</span></h2>
		          <p>Detailed description</p>
		         </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="registertosell-media"> <img src="#{request.contextPath}/resources/img/back-statement.jpeg" alt=" "/> </div>
		        <div class="registertosell-desc">
		          <h3>Bank Statement</h3>
		          <p>Bank statement (Less than 3 months old)</p>
		        </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="registertosell-media"> <img src="#{request.contextPath}/resources/img/id-book.PNG" alt=" "/> </div>
		        <div class="registertosell-desc">
		          <h3>Certified ID Document</h3>
		          <p>ID Document (Less than 3 months old)</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>