<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      <!-- Contact Section -->
		<div id="registertosell">
		  <div class="container">
		    <div class="col-md-8 col-md-offset-2">
		       <h:form id="registerMainForm">
		       <p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
		       	 <f:facet name="header">
					  	 	
					       <h2>Create Account</h2>
					       <hr/>
					  </f:facet>
		       </p:panelGrid>
				<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
					 
					 <h:panelGroup styleClass="md-inputfield">
					 	  <h3>Enter ID Number</h3>
		                  <p:inputMask  mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"   requiredMessage="Please enter id number"/>
			          </h:panelGroup>
		          
			         <h:panelGroup styleClass="md-inputfield">
						<h3>Title</h3>
						<p:selectOneMenu  id="title" value="#{userUI.user.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
							<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
							<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
						</p:selectOneMenu>
					</h:panelGroup>	
						   
					 <h:panelGroup styleClass="md-inputfield">
					   <h3>First Name</h3>
	                   <p:inputText class="form-control" validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided" value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name">
	                   	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
	                   </p:inputText>
			        </h:panelGroup>
		                     
			         <h:panelGroup styleClass="md-inputfield">
						<h3>Last Name</h3>
	                    <p:inputText class="form-control" validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided" value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname">
	                    	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
	                    </p:inputText>
			         </h:panelGroup>
		                     
			          <h:panelGroup styleClass="md-inputfield">
					     <h3>Cell Number</h3>
	                     <p:inputMask class="form-control"  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
		              </h:panelGroup>
		                     
			            <h:panelGroup styleClass="md-inputfield">
							 <h3>Email Address</h3>
		                     <p:inputText class="form-control" value="#{userUI.user.email}" id="email"  style="width:100%" required="true" type="email"  requiredMessage="Please enter email address"/>
			            </h:panelGroup>
		                     
			            <h:panelGroup styleClass="md-inputfield">
							  <h3>Password</h3>
		                      <p:password class="form-control" value="#{userUI.user.password}" id="pass" feedback="true" style="width:100%" inline="true" />
	                    </h:panelGroup>
	                    
	                     <h:panelGroup styleClass="md-inputfield">
							  <h3>Confirm Password</h3>
		                      <p:password class="form-control" value="#{userUI.password2}" id="cofirmpass" feedback="true" style="width:100%" inline="true" />
	                    </h:panelGroup>
	                    
				    </p:panelGrid>
				    <p:panelGrid  class="list-group-item text-center" style="width:100%" columns="1" layout="grid" >
						 <h:panelGroup styleClass="md-inputfield">      
			             	 <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" styleClass="btn btn-info" update="@form" icon="fa fa-save"  action="#{userUI.registeCustomer}"/>
			             	 <p:spacer width="10"/>
	                     	 <p:commandButton process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{userUI.reset}"/>
	                    </h:panelGroup>	
				    </p:panelGrid>
				</h:form>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>