<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">
	 <!-- <p:repeat value="#{servicesUI.servicesList}" var="var">
	      <div class="col-md-3 text-center">
	        <div class="service-media"> <img src="/WasteManagement/resources/wm/img/service-1.jpg" alt=" "/> </div>
	        <div class="service-desc">
	          <h3>#{var.title}</h3>
	          <p>#{var.description}</p>
	        </div>
	      </div>
      </p:repeat> -->
   <ui:composition>
      <!-- Services Section -->
		<div id="services">
		  <div class="container">
		    <div class="col-md-10 col-md-offset-1 section-title text-center">
		      <h2>Our Services</h2>
		      <hr/>
		    </div>
		    <div class="row">
		      <div class="col-md-3 text-center">
		        <div class="service-media"> <img src="/WasteManagement/resources/wm/img/service-1.jpg" alt=" "/> </div>
		        <div class="service-desc">
		          <h3>Service 1</h3>
		          <p>Service 1 description</p>
		        </div>
		      </div>
		      <div class="col-md-3 text-center">
		        <div class="service-media"> <img src="../WasteManagement/resources/wm/img/service-2.jpg" alt=" "/> </div>
		        <div class="service-desc">
		          <h3>Service 2</h3>
		          <p>Service 2 description</p>
		        </div>
		      </div>
		      <div class="col-md-3 text-center">
		        <div class="service-media"> <img src="/WasteManagement/resources/wm/img/service-3.jpg" alt=" "/> </div>
		        <div class="service-desc">
		          <h3>Service 3</h3>
		          <p>Service 3 description</p>
		        </div>
		      </div>
		      <div class="col-md-3 text-center">
		        <div class="service-media"> <img src="/WasteManagement/resources/wm/img/service-4.jpg" alt=" "/> </div>
		        <div class="service-desc">
		          <h3>Service 4</h3>
		          <p>Service 4 description</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>