<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
        <!-- Testimonials Section -->
		<div id="testimonials" class="text-center">
		  <div class="overlay">
		    <div class="container">
		      <div class="section-title">
		        <h2>Testimonials</h2>
		        <hr/>
		      </div>
		      <div class="row">
		        <div class="col-md-10 col-md-offset-1">
		          <div id="testimonial" class="owl-carousel owl-theme">
		            <div class="item">
		              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam."</p>
		              <p>- John DOE, Parker County, TX</p>
		            </div>
		            <div class="item">
		              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam."</p>
		              <p>- Jenny DOE, Parker County, TX</p>
		            </div>
		            <div class="item">
		              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam."</p>
		              <p>- John DOE, Parker County, TX</p>
		            </div>
		            <div class="item">
		              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam."</p>
		              <p>- John DOE, Parker County, TX</p>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>