<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    	<p:growl p:autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl"> </p:growl>
	    		 <div class="container">
		               <center>
		                <div class="row search-box margin-top col-md-5 col-md-offset-2">
		                    <h2 class="section-title">Reset	 Password</h2>
		                	<hr/>
		                	 <h:form id="userRoleDialogForm">
									 <div class="login-box-body">
										<p:panelGrid  columns="1"  style="width:100%" >
											<h:panelGroup styleClass="md-inputfield">
									        	 <p:outputLabel value="Enter email" for="username1" />
											 	 <p:inputText type="email" id="username1" style="width:100%"  value="#{forgotPasswordUI.email}" required="true" requiredMessage="Please enter your email" />
											</h:panelGroup>
											
											<h:outputText value="&#160;" />
											
											<h:panelGroup styleClass="md-inputfield">
											  	   <p:commandButton style="width:100%" value="SUBMIT" styleClass="btn btn-block btn-success" update="@form" actionListener="#{forgotPasswordUI.submit}" oncomplete="PF('userRoleDialog').hide()" />
											 </h:panelGroup>
											 
										 </p:panelGrid>
										 <h:panelGrid rendered="true" style="width:100%">
		                                        <div class="social-auth-links text-center" style="width:100%">
		                                            <p style="color: black;">- OR -</p>
		                                            <a href="#{request.contextPath}/login.xhtml" class="btn btn-block btn-social btn-twitter"><i
														class="fa fa-user-plus"></i>
														<center>LOGIN</center></a>
		                                        </div>
		                                   </h:panelGrid>
									</div>
							</h:form>
		                </div>
		                </center>
		        </div>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
