<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

     <body>
	    <ui:composition>
		   <header class="main-header">
			    <nav class="navbar navbar-static-top">
			      <div class="container">
			        <div class="navbar-header">
			          <a href="#" class="navbar-brand">
			          	 <span class="logo-lg"><b>WASTE MANAGEMENT</b></span>
			           </a>
			         
			          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
			            <i class="fa fa-bars"></i>
			          </button>
			        </div>
			
			        <!-- Collect the nav links, forms, and other content for toggling -->
			        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
			         <!--  <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			            <li><a href="#">Link</a></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
			              <ul class="dropdown-menu" role="menu">
			                <li><a href="#">Action</a></li>
			                <li><a href="#">Another action</a></li>
			                <li><a href="#">Something else here</a></li>
			                <li class="divider"></li>
			                <li><a href="#">Separated link</a></li>
			                <li class="divider"></li>
			                <li><a href="#">One more separated link</a></li>
			              </ul>
			            </li>
			          </ul> -->
			         
			        </div>
			      
			      </div>
			      <!-- /.container-fluid -->
			    </nav>
			  </header>
	    </ui:composition>
	    
	    
	    
    </body>
</html>
