<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template_landing_page/commonLayout.xhtml">
		<ui:define name="content">
			<div id="login" class="text-center">
			  <div class="container">
			  	<div class="container">
			  		<br/>
			  		<br/>
				     <div class="card card-container">
				         <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				         <p id="profile-name" class="profile-name-card"></p>
				         <form class="form-signin">
				             <span id="reauth-email" class="reauth-email"></span>
				             <input type="email" id="inputEmail" class="form-control" placeholder="Email address"/>
				             <input type="password" id="inputPassword" class="form-control" placeholder="Password" />
				             <div id="remember" class="checkbox">
				                 <label>
				                     <input type="checkbox" value="remember-me"/> Remember me
				                 </label>
				             </div>
				             <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
				         </form>
				         <a href="#" class="forgot-password">
				             Forgot the password?
				         </a>
				     </div>
				 </div>
			  </div> 
		  </div>
		</ui:define>
    </ui:composition>
</body> 
</html>




















