<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

   <h:head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
  <!-- Bootstrap 3.3.7 -->
  <h:outputStylesheet name="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- Font Awesome -->
  <h:outputStylesheet name="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" />
  <!-- Ionicons -->
  <h:outputStylesheet name="AdminLTE/bower_components/Ionicons/css/ionicons.min.css" />
  <!-- Theme style -->
  <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <h:outputStylesheet name="AdminLTE/dist/css/skins/_all-skins.min.csss" />
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
 <!-- Login Style -->
  <h:outputStylesheet name="AdminLTE/dist/css/LoginStyle.css"/>
 <!-- Login V13 -->
  <h:outputStylesheet name="login/vendor/bootstrap/css/bootstrap.min.css"/>
  <h:outputStylesheet name="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
  <h:outputStylesheet name="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"/>
  <h:outputStylesheet name="login/fonts/iconic/css/material-design-iconic-font.min.css"/>
  <h:outputStylesheet name="login/vendor/animate/animate.css"/>
  <h:outputStylesheet name="login/vendor/css-hamburgers/hamburgers.min.css"/>
  <h:outputStylesheet name="login/vendor/animsition/css/animsition.min.css"/>
  <h:outputStylesheet name="login/vendor/select2/select2.min.css"/>
  <h:outputStylesheet name="login/vendor/daterangepicker/daterangepicker.css"/>
  <h:outputStylesheet name="login/css/util.css"/>
  <h:outputStylesheet name="login/css/main.css"/>
 </h:head>
 
<body style="background-color: #999999;">
	<div class="limiter">
		<div class="container-login100">
		   <div class="login100-more" style="background-image: url('resources/img/bg.jpg');">
			
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				
					<div class="card card-container text-center" style="margin-top: 10%" >
			        <img id="profile-img" class="profile-img-card" src="#{request.contextPath}/resources/img/avatar_2x.png" />
			         <p id="profile-name" class="profile-name-card"></p>
			        
			          <h:form  class="form-signin" prependId="false">
			                <h:panelGrid style="width:100%" >
				                <p:outputLabel value="Enter Username" for="username" />
								<p:inputText styleClass="form-control"  id="username" style="width:100%" required="true"  requiredMessage="Please enter your username" />
							</h:panelGrid>
							
							 <h:panelGrid style="width:100%" >
							 	 <p:outputLabel value="Enter Password" for="password" />
								 <p:inputText styleClass="form-control" id="password" style="width:100%" required="true" type="password" requiredMessage="Please enter your username" />
							</h:panelGrid>
							
							  <h:panelGrid style="width:100%">
							   <br/>
							  	 	   <p:commandButton styleClass="btn btn-block btn-success login100-form-btn" style="width:100%" value="LOGIN" ajax="false" />
							  </h:panelGrid>
			          
			          </h:form>
			         
			         
			           <br/>
			           <br/>
			         <a href="#{request.contextPath}/forgotpassword.xhtml" class="forgot-password">
			             FORGOT THE PASSWORD?
			         </a>
			     
			         <h:panelGrid  rendered="${!empty param['error']}"  styleClass="ui-fluid center ui-noborder" columns="1" style="width:100%">
				 		   <br/>
				 		 <p style="color: red;">  Invalid login details, please rectify...!!</p>
	                </h:panelGrid>
			     </div>
			</div>
		</div>
	</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!-- <h:outputScript name="AdminLTE/bower_components/jquery/dist/jquery.min.js" /> -->

<!-- Bootstrap 3.3.7 -->
<h:outputScript name="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js" />

<!-- SlimScroll -->
<h:outputScript name="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" />

<!-- FastClick -->
<h:outputScript name="AdminLTE/bower_components/fastclick/lib/fastclick.js" />

<!-- AdminLTE App -->
<h:outputScript name="AdminLTE/dist/js/adminlte.min.js" />

<!-- AdminLTE for demo purposes -->
<h:outputScript name="AdminLTE/dist/js/demo.js" />

 <!-- Login V13 -->
 <!--<h:outputScript name="login/vendor/jquery/jquery-3.2.1.min.js" /> -->
 <h:outputScript name="login/vendor/animsition/js/animsition.min.js" />
 <h:outputScript name="login/vendor/bootstrap/js/popper.js" />
 <h:outputScript name="login/vendor/bootstrap/js/bootstrap.min.js" />
 <h:outputScript name="login/vendor/select2/select2.min.js" />
 <h:outputScript name="login/vendor/daterangepicker/moment.min.js" />
 <h:outputScript name="login/vendor/daterangepicker/daterangepicker.j" />
 <h:outputScript name="login/vendor/countdowntime/countdowntime.js" />
 <h:outputScript name="login/js/main.js" />

</body>
</html>
