<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template_landing_page/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entities.enums.ReportTypeEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    	<p:growl p:autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl"> </p:growl>
	    		 <div class="container">
		            <div class="search">
		               
		                <div class="row search-box margin-top col-md-8 col-md-offset-2">
								 <h:form id="mainForm">
								 		<h2 class="section-title">Report Institution To DHET</h2>
								 		<hr/>
										<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
												<h:panelGroup styleClass="md-inputfield">
								                   	 <small><p:outputLabel value="Report Type"/></small>
								                   	 <p:selectOneRadio  layout="responsive" style="margin:1%" value="#{reportedInstitutionsUI.reportedInstitutions.reportType}" columns="2">
								                        <f:selectItems value="#{commonItemUI.reportTypeEnumDD}" var="var" itemLabel="#{var.friendlyName}" itemValue="#{var}" />
								                        <p:ajax listener="#{reportedInstitutionsUI.prepareAddCouse}" update="@form"/>
								                     </p:selectOneRadio>
								                  </h:panelGroup>
									        
												 <h:panelGroup styleClass="md-inputfield">
													   <small><p:outputLabel value="Institution Name" for="institutionName" /></small>
									                   <p:inputText  value="#{reportedInstitutionsUI.reportedInstitutions.institutionName}"  id="institutionName"  style="width:100%" required="true" requiredMessage="Please enter your institution name">
									                   		<p:ajax/>
									                   </p:inputText>
									              </h:panelGroup>
									              
									              <h:panelGroup styleClass="md-inputfield">
                                                        <br/>
                                                        <p class="box-title"><i class="fa   fa-map-marker"></i> Address Details</p>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 1" for="addressLine1" />
                                                        <p:inputText id="addressLine1" value="#{reportedInstitutionsUI.address.addressLine1}" style="width:100%" required="true" requiredMessage="Please enter residential address line 1">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 2" for="addressLine2" />
                                                        <p:inputText id="addressLine2" value="#{reportedInstitutionsUI.address.addressLine2}" style="width:100%" required="true" requiredMessage="Please enter residential address line 2">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Address line 3" for="addressLine3" />
                                                        <p:inputText id="addressLine3" value="#{reportedInstitutionsUI.address.addressLine3}" style="width:100%" required="false" requiredMessage="Please enter residential address line 3">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <small><p:outputLabel value="Province"  /></small>
                                                        <p:selectOneMenu id="province" value="#{reportedInstitutionsUI.address.province}" converter="#{provinceConvertor}" style="width:100%" requiredMessage="Select province" required="true">
                                                            <f:selectItem itemLabel="---Select Province---" noSelectionOption="true" />
                                                            <f:selectItems value="#{commonItemUI.selectItemsProvince}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax update="@form"/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup id="pgCity" styleClass="md-inputfield" rendered="#{reportedInstitutionsUI.address.province ne null}">
                                                        <small><p:outputLabel value="City"  /></small>
                                                        <p:selectOneMenu id="city" value="#{reportedInstitutionsUI.address.city}" converter="#{cityConvertor}" style="width:100%" requiredMessage="Select city" required="true">
                                                            <f:selectItem itemLabel="---Select City---" noSelectionOption="true" />
                                                            <f:selectItems value="#{reportedInstitutionsUI.selectItemsCity}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>
                                                                                                        
                                                     <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Suburb/Area" for="suburb" />
                                                        <p:inputText id="suburb" value="#{reportedInstitutionsUI.address.suburb}" style="width:100%" required="true" requiredMessage="Please enter suburb">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                     <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Code" for="code" />
                                                        <p:inputText id="code" value="#{reportedInstitutionsUI.address.code}" style="width:100%" required="true" requiredMessage="Please enter address code">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
                                                       <p:outputLabel value="Pin Location"/>
                                                       <p:spacer width="10"></p:spacer>
                                                       <p:commandButton update="mapDialog mapForm" oncomplete="PF('mapDialog').show()" class="btn btn-block btn-info btn-xs"  icon="fa fa-map-marker" title="Pin Location" process="@this"/>
												    </h:panelGroup>
													    
													    
												     <p:fieldset rendered="#{reportedInstitutionsUI.showAddCourse}" id="fsAddCOurse" legend="Add Bogus Course">
									        			
									        			<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
										                   <h:panelGroup styleClass="md-inputfield" style="width:100%">
		                                                        <p:outputLabel value="Course Name" for="course" />
		                                                        <p:inputText id="course" value="#{reportedInstitutionsUI.reportedInstitutionCourse.courseName}" style="width:100%" required="false" requiredMessage="Please enter course name">
		                                                        	<p:ajax/>
		                                                        </p:inputText>
		                                                    </h:panelGroup>
		                                                    
		                                                    <h:panelGroup styleClass="md-inputfield" style="width:50%">
		                                                     	 <p:commandButton process="fsAddCOurse" value="Add" icon="fa fa-plus" class="btn btn-primary" update="@form" actionListener="#{reportedInstitutionsUI.addReportedInstitutionCourse}"/>
							                     			 </h:panelGroup>
	                                                     </p:panelGrid>
	                                                     
	                                                     <br/>
	                                                     <p:dataTable  var="var" value="#{reportedInstitutionsUI.reportedInstitutionCourseList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
														    <f:facet name="header">
														           <h:outputText value="Course List" />
														    </f:facet>
														    
														    <p:column headerText="Course Name"  sortBy="#{var.courseName}" rendered="true">
														        <h:outputText value="#{var.courseName}"/>
														    </p:column>
														    
														    <p:column width="45">
																<p:commandButton class="btn btn-block btn-warning btn-xs" update="@form"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{reportedInstitutionsUI.removeReportedInstitutionCourse}">
																	<p:confirm header="Confirm" message="Are you sure you want to delete this course?" icon="ui-icon-warning" />
																	<f:setPropertyActionListener value="#{var}" target="#{reportedInstitutionsUI.reportedInstitutionCourse}" />
																</p:commandButton>
															</p:column>
														    
										    			</p:dataTable>
									        			
									       			 </p:fieldset>
												    
												    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"  value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form feedbackDialog" actionListener="#{reportedInstitutionsUI.submitReportedInstitutions}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{reportedInstitutionsUI.reset}"/>
						                    		</h:panelGroup>
									                
									        </p:panelGrid>
									        
									       
								</h:form>
					    
		                	
		                	
		                </div>
		            </div>
		        </div>
		        
		       <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip" id="mapDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="70%" responsive="true" closeOnEscape="true">
					<f:facet name="header">
			              <h4 class="box-title">Select Location</h4>
			        </f:facet>
			        
					<h:form id="mapForm" prependId="false"> 
						
					    <p:gmap widgetVar="gmap" rendered="true" id="gmap" center="-26.1714537,27.8999389" zoom="15" type="ROADMAP" style="width:100%;height:400px">
					        <p:ajax event="pointSelect" listener="#{reportedInstitutionsUI.onPointSelect}" />
					    </p:gmap>
					    
					     <script type="text/javascript">
						    if (navigator.geolocation) {
						        checkGeolocationByHTML5();
						    } else {
						        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
						    }
						
						    function checkGeolocationByHTML5() {
						        navigator.geolocation.getCurrentPosition(function(position) {
						            setMapCenter(position.coords.latitude, position.coords.longitude);
						        }, function() {
						            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
						        });
						    }
						
						    function checkGeolocationByLoaderAPI() {
						        if (google.loader.ClientLocation) {
						            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
						        } else {
						            // Unsupported! Show error/warning?
						        }
						    }
						
						    function setMapCenter(latitude, longitude) {
						    	PF('gmap').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
						    }
						</script>
					</h:form>
			        
				</p:dialog>
				
				<p:dialog widgetVar="feedbackDialog" hideEffect="clip" showEffect="clip" id="feedbackDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="50%" responsive="true" closeOnEscape="true">
				  <f:facet name="header">
			              <h4 class="box-title">Report Submited</h4>
			       </f:facet>
			        
			      <p:fieldset>
	              	  <br/>
		              <div  class="alert alert-info">
		                #{reportedInstitutionsUI.mssg}
		              </div>
	              </p:fieldset>
					
				</p:dialog>
		        
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
