<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-money"></i> Buying Back Center Management</h3>
							 </div>
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{buyingBackCenterUI.buyingBackCenterList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Buying Back Center List" />
										    </f:facet>
										     
										     <p:column style="width:50px" >
									            <p:rowToggler id="toggle" />
									         </p:column>
									         
									         <p:tooltip for="toggle" value="View BBS details" rendered="true"></p:tooltip>
 											
 											 <p:column headerText="Customer Name"  sortBy="#{var.customerUser.name}">
											    <h:outputText value="#{var.customerUser.name}"/>
											 </p:column>
											 
											  <p:column headerText="Customer Surname"  sortBy="#{var.customerUser.surname}">
											    <h:outputText value="#{var.customerUser.surname}"/>
											 </p:column>
											 
											  <p:column headerText="Customer ID"  sortBy="#{var.customerUser.rsaId}">
											    <h:outputText value="#{var.customerUser.rsaId}"/>
											 </p:column>

											 
											 <p:column headerText="Amount Due"  sortBy="#{var.amountDue}">
											    <h:outputText value="#{var.amountDue}"/>
											 </p:column>

 											<p:column headerText="Paid Amount"  sortBy="#{var.paidAmount}">
											    <h:outputText value="#{var.paidAmount}"/>
											    <h:outputText rendered="#{var.paidAmount eq null}" value="0.00"/>
											 </p:column>

 											<p:column headerText="Balance"  sortBy="#{var.balance}">
											    <h:outputText value="#{var.amountDue-var.paidAmount}"/>
											 </p:column>

 											<p:column headerText="Status"  sortBy="#{var.status.friendlyName}">
											    <h:outputText value="#{var.status.friendlyName}"/>
											 </p:column>


										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="45" rendered="true">
												<p:commandButton class="btn btn-block btn-info btn-xs" oncomplete="PF('paymentDialog').show()"  icon="fa fa-money" title="Update Payment Information" process="@this" update="paymentDialog">
													<f:setPropertyActionListener value="#{var}" target="#{buyingBackCenterUI.buyingBackCenter}" />
												</p:commandButton>
											</p:column>
											
											 <p:column width="90" rendered="false">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{buyingBackCenterUI.buyingBackCenter}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{buyingBackCenterUI.deleteBuyingBackCenter}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this buyingBackCenter?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{buyingBackCenterUI.buyingBackCenter}" />
												</p:commandButton>
											</p:column>
											
											 <p:rowExpansion>
											 	 <p:panelGrid class="list-group-item" columns="3" layout="grid" >
											 	 	<p:panelGrid columns="2">
													    <f:facet name="header">
													        <h:outputText value="PROCESSED BY" />
													    </f:facet>
													     
													    <h:outputText value="Name:" />
													    <h:outputText value="#{var.creatorUser.name}" />
													     
													    <h:outputText value="Surname:" />
													    <h:outputText value="#{var.creatorUser.surname}" />
													     
													    <h:outputText value="Cell Number:" />
													    <h:outputText value="#{var.creatorUser.cellNumber}" />
													     
													    <h:outputText value="Email" />
													    <h:outputText value="#{var.creatorUser.email}" />
													</p:panelGrid>
													
													<p:panelGrid columns="2">
													    <f:facet name="header">
													        <h:outputText value="CUSTOMER INFO" />
													    </f:facet>
													     
													    <h:outputText value="Name:" />
													    <h:outputText value="#{var.customerUser.name}" />
													     
													    <h:outputText value="Surname:" />
													    <h:outputText value="#{var.customerUser.surname}" />
													     
													    <h:outputText value="Cell Number:" />
													    <h:outputText value="#{var.customerUser.cellNumber}" />
													     
													    <h:outputText value="Email" />
													    <h:outputText value="#{var.customerUser.email}" />
													</p:panelGrid>
													
													
													<p:panelGrid columns="2">
													    <f:facet name="header">
													        <h:outputText value="AMOUNT DETAILS" />
													    </f:facet>
													     
													    <h:outputText value="Amount Due" />
													    <h:outputText value="#{var.amountDue}" />
													     
													    <h:outputText value="Payed Amount:" />
													    <h:outputText rendered="#{var.paidAmount ne null}" value="#{var.paidAmount}" />
													    <h:outputText rendered="#{var.paidAmount eq null}" value="0.00"/>
													     
													    <h:outputText value="Balance:" />
													    <h:outputText value="#{var.amountDue-var.paidAmount}" />
													     
													    <h:outputText value="Ref Number" />
													    <h:outputText value="#{var.refNumber}" />
													</p:panelGrid>
				                     		 	
				                     		 	 </p:panelGrid>
				                     		 	  <p:panelGrid class="list-group-item" columns="1" layout="grid" >
					                     		 	  <p:dataTable var="var1" value="#{var.customerProductList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
												    
													     <f:facet name="header">
													           <h:outputText value="Products List" />
													     </f:facet>
													     
													     <p:column headerText="Product Category"  sortBy="#{var1.item.category.description}">
														    <h:outputText value="#{var1.item.category.title}"/>
														 </p:column>
													    
													     <p:column headerText="Product Description"  sortBy="#{var1.item.description}">
														    <h:outputText value="#{var1.item.description}"/>
														 </p:column>
														 
														 <p:column headerText="Price Per KG"  sortBy="#{var1.item.pricePerKg}">
														    <h:outputText value="#{var1.item.pricePerKg}"/>
														 </p:column>
														 
														 <p:column headerText="Weight(Kg)"  sortBy="#{var1.weightInKG}">
														    <h:outputText value="#{var1.weightInKG}"/>
														 </p:column>
														 
														  <p:column headerText="Total Cost"  sortBy="#{var1.totalCost}">
														    <h:outputText value="#{var1.totalCost}"/>
														 </p:column>
														 
												     </p:dataTable>
											     </p:panelGrid>
											 </p:rowExpansion>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
				<p:dialog widgetVar="paymentDialog" hideEffect="clip" showEffect="clip" id="paymentDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="50%" responsive="true" closeOnEscape="true">
					<f:facet name="header">
			              Update Payment Details
			        </f:facet>
					<h:form id="paymentFrm">
						<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
							    <h:panelGroup styleClass="md-inputfield">
								    <p:outputLabel value="Fef Number" for="refNumber" />
								    <p:inputText disabled="true"  id="refNumber" value="#{buyingBackCenterUI.buyingBackCenter.refNumber}"  style="width:100%" required="true" requiredMessage="Please enter refNumber"/>
								</h:panelGroup>
								
								 <h:panelGroup styleClass="md-inputfield">
								    <p:outputLabel value="Received Date" for="receivedDate" />
								    <p:inputText disabled="true"  id="receivedDate" value="#{buyingBackCenterUI.buyingBackCenter.receivedDate}"  style="width:100%" required="true" requiredMessage="Please enter receivedDate">
								    	<f:convertDateTime pattern="dd MMM yyyy" />
								    </p:inputText>
								</h:panelGroup>

							  <h:panelGroup styleClass="md-inputfield">
								    <p:outputLabel value="Amount Due" for="amountDue" />
								    <p:inputText disabled="true"  id="amountDue" value="#{buyingBackCenterUI.buyingBackCenter.amountDue}"  style="width:100%" required="true" requiredMessage="Please enter amountDue"/>
								</h:panelGroup>
								
							  <h:panelGroup styleClass="md-inputfield">
							     <p:outputLabel value="Balance" for="balance" />
							     <p:inputText disabled="true" id="balance" value="#{buyingBackCenterUI.buyingBackCenter.balance}"  style="width:100%" required="true" requiredMessage="Please enter balance"/>
							  </h:panelGroup>

							  <h:panelGroup styleClass="md-inputfield">
								    <p:outputLabel value="Payment Date" for="paymentDate" />
								    <br/>
								    <p:calendar style="width:100%" id="paymentDate" value="#{buyingBackCenterUI.buyingBackCenter.paymentDate}" showOn="button" required="true" requiredMessage="Please enter payment date" />
							 </h:panelGroup>

							  <h:panelGroup styleClass="md-inputfield">
								    <p:outputLabel value="Paid Amount" for="paidAmount" />
								    <p:inputText type="number"  id="paidAmount" value="#{buyingBackCenterUI.buyingBackCenter.paidAmount}"  style="width:100%" required="true" requiredMessage="Please enter paidAmount"/>
							 </h:panelGroup>
							 
							
						</p:panelGrid>
						 <h:panelGroup styleClass="md-inputfield">
				                  <br/>
				                 <p:commandButton process="@this" onstart="PF('loading').show()" oncomplete="PF('loading').hide();PF('paymentDialog').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form mainForm" actionListener="#{buyingBackCenterUI.updatePayment}"/>
		                 </h:panelGroup>
					</h:form>
				</p:dialog>
		
					 
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
