<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:hf="http://highfaces.org"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-recycle"></i> Collections</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<div class="box-header with-border">
								 	   			<h3 class="box-title">BBC Total Price Summary</h3>
								 	   		</div>
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			<h:panelGroup styleClass="md-inputfield">
													<small><p:outputLabel value="Filter By Year"  /></small>
													<p:selectOneMenu id="year" value="#{collectionsReportUI.year}"  style="width:100%" requiredMessage="Select Year" required="true">
														<f:selectItem itemLabel="---Select Year---" noSelectionOption="true" />
														<f:selectItems value="#{collectionsReportUI.yearList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
													</p:selectOneMenu>
												</h:panelGroup>	
												<h:panelGroup styleClass="md-inputfield"> 
													 <br/>     
									             	 <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Search" styleClass="btn btn-info" update="@form" icon="fa fa-search-plus"  action="#{collectionsReportUI.reloadGrapgData()}"/>
									             	 <p:spacer width="10"/>
							                     	 <p:commandButton process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{collectionsReportUI.clearYear}"/>
							                    </h:panelGroup>
								 	   		</p:panelGrid>
								 	   	    <p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
										        <hf:chart type="pie" credits="">
					                                <hf:chartSerie name="Total Price R" value="#{collectionsReportUI.bbcTotalList}" var="point" point="#{point.total}" tickLabel="#{point.label}" dataLabel="&lt;b>{point.name}&lt;/b>: {point.percentage:.1f} % &lt;i>({point.y})&lt;/i>" />
					                            </hf:chart>
					                            
					                            <hf:chart credits="" type="bar" rowIndexVar="TTT" value="#{collectionsReportUI.bbcTotalList}" yaxisLabel="Total Price(R)"  xaxisLabel="BBCs" var="point"
    											 point="#{point.total}"  tickLabel="#{point.label}"/>
					                            
				                            </p:panelGrid>
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
								 	   			
								 	   			 <p:dataTable var="bbc" value="#{collectionsReportUI.bbcList}" style="margin-top:40px">
												        <f:facet name="header">
												           Collection Per BBC
												         <li class="list-group-item">	
												    	 	 <i class="fa  fa-info"></i> Color Legend:
												    	 	 <br/>
												    	 	 <p:repeat var="var" value="#{collectionsReportUI.categoryList}">
												    	 	 	<span class="label" style="#{collectionsReportUI.getBackroundColor(var)}">#{var.title}</span>
												    	 	 </p:repeat>
												    	</li>
												        </f:facet>
												         <p:columnGroup type="header">
												            <p:row>
												                <p:column rowspan="2" headerText="BBC" />
												                <p:column colspan="#{collectionsReportUI.itemList.size()+1}" headerText="Product category" />
												            </p:row>
												            <p:row>
												                <ui:repeat value="#{collectionsReportUI.itemList}" var="item">
												                    <p:column  style="#{collectionsReportUI.getBackroundColor(item)}" headerText="#{item.code}" />
												                </ui:repeat>
												                 <p:column  headerText="Total" />
												            </p:row>
												        </p:columnGroup>
												        
												        <p:column footerText="Total:">
												            <h:outputText value="#{bbc.description}" />
												        </p:column>
												        
												        <p:columns style="#{collectionsReportUI.getBackroundColor(item)}" footerText="R #{collectionsReportUI.calculateTotalPrice(item)}" value="#{collectionsReportUI.itemList}" var="item">
												            <h:outputText value="#{collectionsReportUI.calculateTotalPrice(bbc,item)}" />
												        </p:columns>
												        
												         <p:column footerText="R #{collectionsReportUI.calculateTotalPrice()}">
												            <h:outputText value="R #{bbc.totalPrice}" />
												        </p:column>
												        
												         <f:facet name="footer">
												            Waste Collection For Year #{collectionsReportUI.year}
												        </f:facet>
												        
												  </p:dataTable>
									        
									         </p:panelGrid>
									    
								 	   </div>
					   			 </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
