<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:hf="http://highfaces.org"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa fa-group"></i> Employment Creation</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<div class="box-header with-border">
								 	   			<h3 class="box-title">Employment Status Per BBC</h3>
								 	   		</div>
								 	   		<p:panelGrid id="pgEmpPerBBC"  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			<h:panelGroup  styleClass="md-inputfield">
													<small><p:outputLabel value="Filter By Employment Status"  /></small>
													<p:selectOneMenu id="empStatu" value="#{employmentReportUI.employmentStatus}"  style="width:100%" requiredMessage="Select Employment Status" required="true">
														<f:selectItem itemLabel="---Select Status---" noSelectionOption="true" />
														<f:selectItems value="#{commonItemUI.employmentStatusEnumDD}" var="rv" itemLabel="#{rv.friendlyName}" itemValue="#{rv}" />
													</p:selectOneMenu>
												</h:panelGroup>	
												<h:panelGroup styleClass="md-inputfield"> 
													 <br/>     
									             	 <p:commandButton process="pgEmpPerBBC" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Search" styleClass="btn btn-info" update="pgEmpPerBBCTableGraph pgEmpPerBBC" icon="fa fa-search-plus"  action="#{employmentReportUI.reloadGrapgData()}"/>
									             	 <p:spacer width="10"/>
							                     	 <p:commandButton process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="pgEmpPerBBCTableGraph pgEmpPerBBC"  actionListener="#{employmentReportUI.clearEmpStatus}"/>
							                    </h:panelGroup>
								 	   		</p:panelGrid>
								 	   		<p:panelGrid id="pgEmpPerBBCTableGraph"  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									        	    <p:dataTable var="var" value="#{employmentReportUI.employmentBeanList}" rows="10"
												                 paginator="true"
												                 paginatorPosition="bottom"
												                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												                 rowsPerPageTemplate="5,10,15">
												      
												        <p:column headerText="Site/BBC">
												            <h:outputText value="#{var.description}" />
												        </p:column>
												 
												        <p:column headerText="No. Of Employees">
												            <h:outputText value="#{var.numOfEmp}" />
												        </p:column>
												 
												        <p:column headerText="Total Male">
												            <h:outputText value="#{var.totalMale}" />
												        </p:column>
												 
												        <p:column headerText="Total Female">
												            <h:outputText value="#{var.totalFemale}" />
												        </p:column>
												 
												    </p:dataTable>
												    
												    <hf:chart credits="" type="column" value="#{employmentReportUI.mappedList}" yaxisLabel="No. Of Employees" var="emp" stacking="normal"
    												point="#{emp.total}" tickLabel="#{emp.label}" title=""/>
    												
    											
									        
									         </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			
					   			 
						 	   <div class="box-body">
						 	   		<div class="box-header with-border">
						 	   			<h3 class="box-title">Employment Status Per Role/Job Descriptiony</h3>
						 	   		</div>
						 	   		<p:panelGrid id="pgEmpPerRole"  class="list-group-item" style="width:100%" columns="2" layout="grid" >
						 	   			
						 	   			<h:panelGroup styleClass="md-inputfield">
											<small><p:outputLabel value="Filter By Employment Status"  /></small>
											<p:selectOneMenu id="empRoleStatus" value="#{employmentReportUI.employmentStatus}"  style="width:100%" requiredMessage="Select Employment Status" required="true">
												<f:selectItem itemLabel="---Select Status---" noSelectionOption="true" />
												<f:selectItems value="#{commonItemUI.employmentStatusEnumDD}" var="rv" itemLabel="#{rv.friendlyName}" itemValue="#{rv}" />
											</p:selectOneMenu>
										</h:panelGroup>	
										
										<h:panelGroup styleClass="md-inputfield" >
						 	      		 	<p:outputLabel style="width:100%" value="Select Buy back Center" for="bbc" /><br/>
								 	   		<p:autoComplete var="var" itemLabel="#{var.description}" itemValue="#{var}" forceSelection="true" id="bbc" dropdown="true"  value="#{employmentReportUI.bbc}"  converter="#{BBCConvertor}" completeMethod="#{commonItemUI.autoCompleteBBC}">
			                     		 		<p:column headerText="BBC Name">
									            	<h:outputText value="#{var.description}" />
									            </p:column>
									            <p:column  headerText="Municipality">
									                <h:outputText value="#{var.municipality.description}" />
									            </p:column>
									            <p:column  headerText="City/Town">
									                <h:outputText value="#{var.cityTown.description}" />
									            </p:column>
									            <p:ajax event="itemSelect"  update="pgEmpPerRole"></p:ajax>
			                     		 	</p:autoComplete>
			                     		 	<p:spacer width="20"></p:spacer>
			                     		 	<h:panelGroup styleClass="md-inputfield"> 
											    
							             	 <p:commandButton process="pgEmpPerRole" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Search" styleClass="btn btn-info" update="pgEmpPerRoleTableGrapg pgEmpPerRole" icon="fa fa-search-plus"  action="#{employmentReportUI.reloadEmpByRoleGrapgData()}"/>
							             	 <p:spacer width="10"/>
					                     	 <p:commandButton  process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="pgEmpPerRoleTableGrapg pgEmpPerRole" actionListener="#{employmentReportUI.clearEmpByRoleEmpStatus}"/>
					                    </h:panelGroup>
		                     		 	</h:panelGroup>
						 	   			
										
						 	   		</p:panelGrid>
						 	   		<p:panelGrid id="pgEmpPerRoleTableGrapg"  class="list-group-item" style="width:100%" columns="2" layout="grid" >
							        	    <p:dataTable var="var" value="#{employmentReportUI.employmentByRoleBeanList}" rows="10"
										                 paginator="true"
										                 paginatorPosition="bottom"
										                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										                 rowsPerPageTemplate="5,10,15">
										      
										        <p:column headerText="Role/Job Description">
										            <h:outputText value="#{var.description}" />
										        </p:column>
										 
										        <p:column headerText="No. Of Employees">
										            <h:outputText value="#{var.numOfEmp}" />
										        </p:column>
										 
										        <p:column headerText="Total Male">
										            <h:outputText value="#{var.totalMale}" />
										        </p:column>
										 
										        <p:column headerText="Total Female">
										            <h:outputText value="#{var.totalFemale}" />
										        </p:column>
										 
										    </p:dataTable>
										    
										    <hf:chart credits="" type="column" value="#{employmentReportUI.empByRoleMappedList}" yaxisLabel="No. Of Employees" var="emp" stacking="normal"
  												point="#{emp.total}" tickLabel="#{emp.label}" title=""/>
  												
  											
							        
							         </p:panelGrid>
						 	   </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
