<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:hf="http://highfaces.org"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-money"></i> Waste Harvester Payout</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<div class="box-header with-border">
								 	   			<h3 class="box-title">Waste Harvester Payout Summary</h3>
								 	   		</div>
								 	   		
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			<h:panelGroup styleClass="md-inputfield">
													<small><p:outputLabel value="Filter By Year"  /></small>
													<p:selectOneMenu id="year" value="#{wasteHarvesterPayoutUI.year}"  style="width:100%" requiredMessage="Select Year" required="true">
														<f:selectItem itemLabel="---Select Year---" noSelectionOption="true" />
														<f:selectItems value="#{wasteHarvesterPayoutUI.yearList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
													</p:selectOneMenu>
												</h:panelGroup>	
												<h:panelGroup styleClass="md-inputfield"> 
													 <br/>     
									             	 <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Search" styleClass="btn btn-info" update="@form" icon="fa fa-search-plus"  action="#{wasteHarvesterPayoutUI.reloadGrapgData()}"/>
									             	 <p:spacer width="10"/>
							                     	 <p:commandButton process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{wasteHarvesterPayoutUI.clearYear}"/>
							                    </h:panelGroup>
								 	   		</p:panelGrid>
									         <p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									 	   		<hf:chart credits="" tickLabel="#{point.label}" type="area" value="#{wasteHarvesterPayoutUI.totalPerMonthList}" xaxisLabel="Months" yaxisLabel="Total Price" var="point"
											     point="#{point.total}" title="Total Payouts Per Month"/>
											     
											     <hf:chart credits="" tickLabel="#{point.label}" type="bar" value="#{wasteHarvesterPayoutUI.totalPerBBCList}" xaxisLabel="BBCs" yaxisLabel="Total Price" var="point"
											     point="#{point.total}" title="Total Payouts Per BBC"/>
										    </p:panelGrid>
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
								 	   			 <p:dataTable var="mon" value="#{wasteHarvesterPayoutUI.dateList}" style="margin-top:40px">
												        <f:facet name="header">
												          Waste Harvester Payout Per BBC
												        </f:facet>
												         <p:columnGroup type="header">
												            <p:row>
												                <p:column rowspan="2" headerText="Month" />
												                <p:column colspan="#{wasteHarvesterPayoutUI.bbcList.size()+1}" headerText="BBCs" />
												            </p:row>
												            <p:row>
												                <ui:repeat value="#{wasteHarvesterPayoutUI.bbcList}" var="bbc">
												                    <p:column  headerText="#{bbc.description}" />
												                </ui:repeat>
												                 <p:column  headerText="Total Per Month" />
												            </p:row>
												        </p:columnGroup>
												        
												        <p:column footerText="Total:">
												            <h:outputText value="#{mon.displayName}" />
												        </p:column>
												        
												        <p:columns footerText="R #{wasteHarvesterPayoutUI.calculateTotalPrice(bbc)}" value="#{wasteHarvesterPayoutUI.bbcList}" var="bbc">
												            <h:outputText value="#{wasteHarvesterPayoutUI.calculateTotalPrice(mon,bbc)}" />
												        </p:columns>
												        
												         <p:column footerText="R #{wasteHarvesterPayoutUI.calculateMonthlyTotal()}">
												            <h:outputText value="R #{mon.totalPrice}" />
												        </p:column>
												        
												        
												         <f:facet name="footer">
												            Waste Harvester Payout  For Year #{wasteHarvesterPayoutUI.year}
												        </f:facet>
												        
												  </p:dataTable>
									        
									         </p:panelGrid>
									         
								 	   </div>
					   			 </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
