<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:hf="http://highfaces.org"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa fa-group"></i> Waste Harvester Analysis</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<div class="box-header with-border">
								 	   			<h3 class="box-title">Analysis Per Region</h3>
								 	   		</div>
								 	   		<p:panelGrid class="list-group-item" style="width:100%" columns="2" layout="grid" >
									        	    <p:dataTable var="var" value="#{wasteHarvesterAnalysisUI.wasteHarvestList}" rows="10"
												                 paginator="true"
												                 paginatorPosition="bottom"
												                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												                 rowsPerPageTemplate="5,10,15">
												      
												        <p:column headerText="Region" groupRow="true">
												            <h:outputText value="#{var.regionDesc}" />
												        </p:column>
												 
												        <p:column headerText="BBC">
												            <h:outputText value="#{var.bbcDesc}" />
												        </p:column>
												 
												        <p:column headerText="QTY">
												            <h:outputText value="#{var.totalHaverster}" />
												        </p:column>
												 
												        <p:column headerText="Total" groupRow="true">
												            <h:outputText value="#{var.strTotalPerRegion}" />
												        </p:column>
												 
												    </p:dataTable>
												    
												    <p:fieldset>
													     <hf:chart type="pie" credits="">
							                                <hf:chartSerie name="Total Number Of Hervesters" value="#{wasteHarvesterAnalysisUI.graphBean}" var="point" point="#{point.total}" tickLabel="#{point.label}" dataLabel="&lt;b>{point.name}&lt;/b>: {point.percentage:.1f} % &lt;i>({point.y})&lt;/i>" />
							                            </hf:chart>
						                            </p:fieldset>
									        
									         </p:panelGrid>
								 	   </div>
					   			 </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
