<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      	<!-- About Section -->
		<div id="about">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-12 col-md-6">
		        <div class="about-text">
		           <h2><i class="fa fa-info"></i> About <span> us</span></h2>
		          <p>
		          Tulsaspark Waste Packaging and Transfer ("TWPT") 
		          is an innovative waste management company that 
		          provides integrated solutions and training in the 
		          collection, packaging, and transfer of waste for recycling.
		          </p>
		          <p>To promote a clean healthy environment, 
		          we focus on building sustainable 
		          livelihoods by working in partnership with:</p>
		          <li class="fa fa-users" style="margin-left: 20px" > Communities in rural and urban settings </li>
		          <br/>
		          <li class="fa fa-recycle"  style="margin-left: 20px"> Waste harvesters and cooperatives </li>
		           <br/>
		          <li class="fa fa-industry"  style="margin-left: 20px"> And municipalities</li>
		          <h3>Current Business</h3>
		          <p>In 2017 Tulsaspark was appointed as Implementing Agent for the 
		           OR Tambo District Municipality Regional Recycling Program. 
		           Our operations are geographically spread in all the 5 local 
		           municipalities of the OR Tambo Municipal District.
				   There is a network of buy-back centres ("BBCs") to procure recyclable 
				   material from waste harvesters and cooperatives – there is at least one in each local municipality.
                   <br/>All material from the BBCs is then taken to the ORTDM Regional Recycling 
                   Facility known as the Main Processing Centre ("MPCs") for sorting, baling 
                   and packaging. Thereafter, the packaged recyclable product is sold and 
                   transferred to our network of recycling client companies, outside the 
                   borders of the Eastern Cape – namely, Sappi, Collect-A-Can, Consol, Sen Li Da etc. </p>
		          <p> </p>
		          <p> </p>
		      </div>
		      </div>
		      
	        <div class="col-xs-12 col-md-6">
		        <div class="about-text">
		           <h3>Our operating network infrastructure is as follows:</h3>
		          <p class="fa fa-cog" style="margin-left: 20px"> 
		          	7 TWPT BBCs with operational staff equipped with tools: 
		          	8 Mthatha and 1 in each of the other towns (Mqanduli, 
		          	Tsolo, Qumbu, Libode, Ngqeleni, Port St Johns, 
		          	Lusikisiki and Flagstaff)
   					 MPC in Qumbu, with easy access to roadway links to buyer destinations
   				</p>
		          <br/>
		    	 <p class="fa fa-cog" style="margin-left: 20px"> 
		           TWPT undertakes collection of recyclable material 
		           from sources in various areas where there is difficulty 
		           to deliver to the BBCs – this includes rural areas. 
		           Collection vehicles are fitted with special equipment to 
		           compress and protect the acquired recyclables 
		           during transportation to BBCs and MPCs
		         </p>
		         
		          <h3>Our value proposition:</h3>
		           <p class="fa check-square" style="margin-left: 20px;"> 
		           Improvement of waste management practice to maximise benefits and minimise costs
		           </p>
		           
		           <p class="fa check-square" style="margin-left: 20px;margin-top:2px"> 
		            Creation of sustainable full time employment in the region – which has high unemployment and poverty levels, currently 
		           </p>
		           
		           <p class="fa fa-check" style="margin-left: 20px;margin-top:0px"> 
		          	 Participate and contribute towards the minimisation of waste in a region where waste generation is high, to:
						 <p class="fa fa-check" style="margin-left: 40px;margin-top:2px"> 
						  Increase life span of landfill sites
						 </p>
						 <br/>
						  <p class="fa fa-check" style="margin-left: 40px;margin-top:0px"> 
						   Reduce illegal dumping 
						  </p>
		           </p>
		           
		           <p class="fa fa-check" style="margin-left: 10px;margin-top:2px"> 
		           	Improve waste management reporting
		           </p>
		           
		           <p class="fa fa-check" style="margin-left: 20px;margin-top:2px"> 
		           	    Building a sustainable revenue generating enterprise that steadily expands into downstream and core waste recycling activities
   						The basic problem for many local municipalities in OR Tambo is that of rising costs and environmental degradation – this is where we aim to have a positive impact.
		           </p>
		           
		        </div>
	        </div>
		      
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>