<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
       <!-- Header -->
		<header id="header">
		  <div class="intro" style="background-image: '../../img/intro-bg.jpg';">
		    <div class="overlay">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-8 col-md-offset-2 intro-text">
		          
		            <h1 class="text-center">TULSASPARK</h1>
		            <p class="text-center">Help us to Keep the Earth Clean<br/>
		               By doing your part to work toward a sustainable and debris-free planet</p>
		           </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</header>
   </ui:composition>

</html>