<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
	    <title>Tulsaspark</title>
	    <!-- for-meta-tags-->
	    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
	    <meta name="keywords" content="Tulsaspark" ></meta>
	    <script type="application/x-javascript">
	        addEventListener("load", function() {
	            setTimeout(hideURLbar, 0);
	        }, false);
	
	        function hideURLbar() {
	            window.scrollTo(0, 1);
	        }
	    </script>
	    <!-- Favicons -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"/>
		
		<!-- Bootstrap -->
		<h:outputStylesheet name="wm/css/bootstrap.css" />
		<h:outputStylesheet name="wm/fonts/font-awesome/css/font-awesome.css" />
		
		<!-- Slider-->
		<h:outputStylesheet name="wm/css/owl.carousel.css" />
		<h:outputStylesheet name="wm/css/owl.theme.css" />
		
		<!-- Stylesheet -->
		<h:outputStylesheet name="wm/css/style.css"/>
		<h:outputStylesheet name="wm/css/nivo-lightbox/nivo-lightbox.css" />
		<h:outputStylesheet name="wm/css/nivo-lightbox/default.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
	   
	    <!-- Theme style -->
	    <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
	</h:head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	   
	    <div id="header">
			<ui:insert name="header" >
			  	<ui:include src="./commonHeader.xhtml" />
			</ui:insert>
	    </div>
	    
	    <div id="content">
   		 	<ui:insert name="content" >
    			 <ui:include src="./commonContent.xhtml" />
    		 </ui:insert>
	    </div>
	    <div id="about">
	   		 <ui:insert name="about" >
	     	 	<ui:include src="./about.xhtml" />
	     	 </ui:insert>
	    </div>
	    <div id="services">
	    	<ui:insert name="services" >
	    	 	<ui:include src="./services.xhtml" />
	    	</ui:insert>
	    </div>
	   
	     <div id="footer">
	     	<ui:insert name="footer" >
	    		<ui:include src="./commonFooter.xhtml" />
	    	</ui:insert>
	   	</div>
	   	
	   <!--  <h:outputScript name="wm/js/jquery.1.11.1.js" /> -->
	   <h:outputScript name="wm/js/bootstrap.js" /> 
	   <h:outputScript name="wm/js/SmoothScroll.js" /> 
	   <h:outputScript name="wm/js/nivo-lightbox.js" /> 
	   <h:outputScript name="wm/js/jquery.isotope.js" /> 
	   <h:outputScript name="wm/js/owl.carousel.js" /> 
	   <h:outputScript name="wm/js/jqBootstrapValidation.js" /> 
	   <h:outputScript name="wm/js/contact_me.js" /> 
	   <h:outputScript name="wm/js/main.js" /> 
	   
	   <!-- Primefaces GMap -->
	   <script src="https://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyDxiAdnFXvi1RhFUQSd0Te7fve3W7YkCwA" type="text/javascript"></script>
	   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	
	   
	    
	</body>
</html>
