<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      <nav id="menu" class="navbar navbar-default navbar-fixed-top">
		  <div class="container"> 
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		      	<!-- <a class="navbar-brand page-scroll" href="#page-top">TULSASPARK</a>  -->
				
				 <div class="logo">
                        <h:graphicImage height="60" width="200" value="resources/img/logo.jpg"/>
                    </div>
		     </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#header" class="page-scroll">Home</a></li>
		        <li><a href="#about" class="page-scroll">About Us</a></li>
		        <li><a href="#bbc2" class="page-scroll">BBC</a></li>
		        <li><a href="#dumpsites" class="page-scroll">Land Fills</a></li>
		        <li><a href="#products" class="page-scroll">Products</a></li>
		        <li><a href="#contact" class="page-scroll">Contact Us</a></li>
		        <li><a href="#registertosell" class="page-scroll">Register To Sell</a></li>
		        <h:panelGroup rendered="false">
		       		 <li><a href="#{request.contextPath}/login.xhtml" class="page-scroll">Login</a></li>
		        </h:panelGroup>
		        <h:panelGrid rendered="false">
		        	<!-- NOT IN USE -->
		        	<li><a href="#bbc" class="page-scroll">Buy Back Centers</a></li>
		            <li><a href="#services" class="page-scroll">Services</a></li>
		        	<li><a href="#portfolio" class="page-scroll">Gallery</a></li>
		        	<li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
		        	 <li><a href="#register" class="page-scroll">Register</a></li>
		        </h:panelGrid>
		      </ul>
		    </div>
		    	<!-- /.navbar-collapse --> 
		  </div>
		  <!-- /.container-fluid --> 
		</nav>
   </ui:composition>

</html>