<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      <!-- Contact Section -->
		<div id="contact" class="text-center">
		  <div class="container">
		  <p:fieldset>
		    <div class="section-title text-center">
		      <h2>Contact Us</h2>
		      <hr/>
		      <p>Welcome to our contact area. Here you should be able to find how to get hold of us...</p>
		    </div>
		    <div class="col-md-10 col-md-offset-1 contact-info">
		      <div class="col-md-4">
		        <h3>Address</h3>
		        <hr/>
		        <div class="contact-item">
		          <p>17 Cumberland Street,</p>
		          <p>Mthatha, 5099</p>
		        </div>
		      </div>
		      <div class="col-md-4">
		        <h3>Working Hours</h3>
		        <hr/>
		        <div class="contact-item">
		          <p>Monday-Saturday: 07:00 - 18:00</p>
		          <p>Sunday: CLOSED</p>
		        </div>
		      </div>
		      <div class="col-md-4">
		        <h3>Contact Info</h3>
		        <hr/>
		        <div class="contact-item">
		          <p>Phone: +27 78 050 7765, +27 47 531 2293</p>
		          <p>Office: +27 47 531 2293</p>
		          <p>Zizi: +27 81 396 9900</p>
		          <p>Email: oswell@tulsaspark.com</p>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-8 col-md-offset-2">
		      <h3>Leave us a message</h3>
		       <h:form id="contactForm">
		        <div class="row">
		          <div class="col-md-6">
		            <div class="form-group">
		            	 <h:panelGroup styleClass="md-inputfield">
					   	 	 <p:outputLabel value="Name" for="contactname" />
                            <p:inputText class="form-control"  id="contactname" value="#{contactUsUI.contactUs.name}"  style="width:100%" required="true" requiredMessage="Please enter name"/>
	                     </h:panelGroup>
		            </div>
		          </div>
		          <div class="col-md-6">
		            <div class="form-group">
		               <h:panelGroup styleClass="md-inputfield">
					   	 	 <p:outputLabel value="Surname" for="contactsurname" />
                            <p:inputText class="form-control"  id="contactsurname" value="#{contactUsUI.contactUs.surname}"  style="width:100%" required="true" requiredMessage="Please enter surname"/>
	                    </h:panelGroup>
		            </div>
		          </div>
		          <div class="col-md-6">
		            <div class="form-group">
		               <h:panelGroup styleClass="md-inputfield">
					   	 	 <p:outputLabel value="Email" for="contactemail" />
                            <p:inputText class="form-control" type="email" id="contactemail" value="#{contactUsUI.contactUs.email}"  style="width:100%" required="true" requiredMessage="Please enter email"/>
	                    </h:panelGroup>
		            </div>
		          </div>
		           <div class="col-md-6">
		            <div class="form-group">
		               <h:panelGroup styleClass="md-inputfield">
					   	 	 <p:outputLabel value="Cell Number" for="contactcel" />
                            <p:inputText class="form-control"  id="contactcel" value="#{contactUsUI.contactUs.cellNumber}"  style="width:100%" required="true" requiredMessage="Please enter cell number"/>
	                    </h:panelGroup>
		            </div>
		          </div>
		        </div>
		        
		        <div class="form-group">
		          <h:panelGroup styleClass="md-inputfield">
			   	 	 <p:outputLabel value="Message" for="mssg" />
			   	 	 <br/>
                     <p:textEditor widgetVar="mssg" id="mssg" value="#{contactUsUI.contactUs.message}" height="150" style="margin-bottom:10px" placeholder="Enter your message">
				        <f:facet name="toolbar">
				             <span class="ql-formats">
				                <button class="ql-bold"></button>
				                <button class="ql-italic"></button>
				                <button class="ql-underline"></button>
				                <button class="ql-strike"></button>
				            </span>
				            <span class="ql-formats">
				                <select class="ql-font"></select>
				                <select class="ql-size"></select>
				            </span>
				        </f:facet>
				    </p:textEditor>
                   </h:panelGroup>
		        </div>
		        <div id="success"></div>
		        
		         <h:panelGroup styleClass="md-inputfield">
                  	<br/>
                    <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form" actionListener="#{contactUsUI.saveContactUs}"/>
           			<p:spacer width="10"/>
           			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{contactUsUI.reset}"/>
           		</h:panelGroup>
						                     			
		      </h:form>
		    </div>
		    </p:fieldset>
		  </div>
		</div>
   </ui:composition>

</html>