<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
   	  <!-- Map type:  states, hybrid, 
   	  satellite, hybrid and terrain 
   	  and ROADMAP -->
      <!-- Contact Section -->
		<div id="dumpsites">
		  <div class="container">
		    <h:form id="dumpSitesMainForm">
			       <center> <h2>Land Fills</h2></center>
			       <hr/>
			       <p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
			       	 
						
					    <p  class="text-center">Click on the marker(Map Icon) to view detail information about the land field</p>
						
						<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDxiAdnFXvi1RhFUQSd0Te7fve3W7YkCwA"></script>
	 
				        <h:form prependId="false">
						    <p:gmap id="gmap" center="-30.310268,23.443609" zoom="6" type="ROADMAP" model="#{dumpSiteUI.simpleModel}"  style="width:100%;height:800px">
						        <p:ajax event="overlaySelect" onstart="PF('loading').show()" oncomplete="PF('loading').hide();PF('detailsDialog').show()" listener="#{dumpSiteUI.onMarkerSelect}" update="detailsDialog" />
						    </p:gmap>
						</h:form>
						 
			       </p:panelGrid>
				
				</h:form>
		  </div>
		</div>
		
		<p:dialog  widgetVar="detailsDialog" hideEffect="clip" showEffect="clip"  id="detailsDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="50%" responsive="true" closeOnEscape="true">
			  <style type="text/css">
				    .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
				        text-align: center;
				    }
			  </style>	  
			  <f:facet name="header">
		           <h5 class="box-title">Land Fills Details</h5>
		      </f:facet>
		      
		      <p:panelGrid columns="2"  style="width:100%;">
			    <f:facet name="header">
			        <h:outputText value="#{dumpSiteUI.dumpSite.description}" />
			    </f:facet>
			     
			    <h:outputText value="Municipality" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.municipality.description}" />
			    
			    <h:outputText value="Province" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.municipality.province.description}" />
			    
			    <h:outputText value="Address Line 1" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.residentialAddress.addressLine1}" />
			    
			     <h:outputText value="Address Line 2" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.residentialAddress.addressLine2}" />
			    
			    <h:outputText value="Address Line 3" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.residentialAddress.addressLine3}" />
			    
			    <h:outputText value="City" />
			    <h:outputText value="#{dumpSiteUI.dumpSite.residentialAddress.city.description}" />
			    
			     
			</p:panelGrid>
		      
		</p:dialog>
		
   </ui:composition>

</html>