<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
        <!-- Gallery Section -->
		<div id="portfolio">
		  <div class="container">
		    <div class="section-title text-center center">
		      <h2>Project Gallery</h2>
		      <hr/>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
		    </div>
		    <div class="categories">
		      <ul class="cat">
		        <li>
		          <ol class="type">
		            <li><a href="#" data-filter="*" class="active">All</a></li>
		            <li><a href="#" data-filter=".lawn">Lawn Care</a></li>
		            <li><a href="#" data-filter=".garden">Garden Care</a></li>
		            <li><a href="#" data-filter=".planting">Planting</a></li>
		          </ol>
		        </li>
		      </ul>
		      <div class="clearfix"></div>
		    </div>
		    <div class="row">
		      <div class="portfolio-items">
		        <div class="col-sm-6 col-md-4 lawn">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/01-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Lorem Ipsum</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/01-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 planting">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Adipiscing Elit</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/02-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 lawn">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/03-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Lorem Ipsum</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/03-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 lawn">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/04-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Lorem Ipsum</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/04-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 planting">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/05-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Adipiscing Elit</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/05-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 garden">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/06-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Dolor Sit</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/06-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 garden">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/07-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Dolor Sit</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/07-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 lawn">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Lorem Ipsum</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/08-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		        <div class="col-sm-6 col-md-4 planting">
		          <div class="portfolio-item">
		            <div class="hover-bg"> <a href="#{request.contextPath}/resources/img/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
		              <div class="hover-text">
		                <h4>Adipiscing Elit</h4>
		              </div>
		              <img src="#{request.contextPath}/resources/img/09-small.jpg" class="img-responsive" alt="Project Title"/> </a> </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>