<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:rich="http://richfaces.org/rich" 
xmlns:ui="http://java.sun.com/jsf/facelets" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:a4j="http://richfaces.org/a4j" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:p="http://primefaces.org/ui" 
xmlns:c="http://java.sun.com/jsp/jstl/core" 
xmlns:sec="http://www.springframework.org/security/tags">
	 <!-- <p:repeat value="#{servicesUI.servicesList}" var="var">
	      <div class="col-md-3 text-center">
	        <div class="service-media"> <img src="/tulsaspark/resources/wm/img/service-1.jpg" alt=" "/> </div>
	        <div class="service-desc">
	          <h3>#{var.title}</h3>
	          <p>#{var.description}</p>
	        </div>
	      </div>
      </p:repeat> -->
   <ui:composition>
      <!-- Services Section -->
		<div id="products">
		  <div class="container">
		    <div class="col-md-10 col-md-offset-1 section-title text-center">
		      <h2>Product Categories</h2>
		      <hr/>
		    </div>
		    <div class="row">
		    <h:form id="itemFrm">
		      <p:repeat value="#{categoryUI.categoryList}" var="var">
			      	<div class="col-md-3 text-center">
				         <div class="service-media">
					        <p:graphicImage   value="#{streamContentUI.imageFromDB}" cache="false"  id="compLogo"  rendered="true">
			                 	<f:param name="id" value="#{var.image.id}" />
			                </p:graphicImage>
		                </div>
		                <p:commandButton class="btn btn-custom btn-success" action="#{itemUI.prepareItemsPerCategory}" onstart="PF('loading').show()" oncomplete="PF('loading').hide();PF('catInfoDialog').show()" value="View Products" icon="fa fa-forward" iconPos="right"  update="catInfoDialog">
		                	<f:setPropertyActionListener value="#{var}" target="#{itemUI.category}" />
		                </p:commandButton>
						                     			
				        <div class="service-desc">
				          <h3>#{var.title}</h3>
				          <p>#{var.description}</p>
				        </div>
			      </div>
		      </p:repeat>
		      <div class="col-md-12 text-center">
		      <p:fieldset>
		      	
			       <p:commandButton style="margin:10px;" class="btn btn-custom btn-warning" action="#{itemUI.downloadAllItems}" value="Download All Products" icon="fa fa-download" iconPos="left" ajax="false"/>
			          
		       </p:fieldset>
		     </div>
		   </h:form>
		    
		     
		    </div>
		  </div>
		</div>
		
		
		<p:dialog position="top" widgetVar="catInfoDialog" hideEffect="clip" showEffect="clip"  id="catInfoDialog" appendTo="@(body)" modal="true" closable="true" width="80%" height="80%" responsive="true" closeOnEscape="true">
			 			  
			  <f:facet name="header">
		           <h4 class="box-title">#{itemUI.category.title}</h4>
		      </f:facet>
		      
	          <h:form id="imageForm" enctype="multipart/form-data">
	          	 <p:panelGrid columns="1" layout="grid" >
			    	<p:dataTable var="var" value="#{itemUI.itemList}" reflow="true" rows="3" paginatorPosition="bottom" paginator="true">
					    
					    <f:facet name="header">
					           <h:outputText value="Type Of #{itemUI.category.title}" />
					    </f:facet>
					    
					    <p:column headerText="Image">
					         <p:graphicImage width="50%" height="50%" value="#{streamContentUI.imageFromDB}" cache="false"  id="compLogo"  rendered="true">
			                 	<f:param name="id" value="#{var.image.id}" />
			                </p:graphicImage>
					    </p:column>
					    
					    <p:column headerText="Description"  sortBy="#{var.description}">
					        <h:outputText value="#{var.description}"/>
					    </p:column>
					    
					    <p:column headerText="Price Per Kg"  sortBy="#{var.price}">
					        <h:outputText value="#{var.pricePerKg}"/>
					    </p:column>
					 
					</p:dataTable>
				</p:panelGrid>
	          </h:form>
	     </p:dialog>
   </ui:composition>

</html>