<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

   <ui:composition>
      	<!-- registertosell Section -->
		<div id="registertosell">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-12 col-md-6">
		        <div class="registertosell-text">
		          <h2><i class="fa fa-address-card"></i> Register To <span>Sell</span></h2>
		          <p>
			          We all produce waste, It’s unavoidable!. The amount of 
			          waste in our communities just keeps piling up and up.
		          </p>
		          
		           <p>
			           Be part of the community that helps reduce the environmental 
			           impact of waste that is produced by human activity or industrial operations.
		           </p>
		           
		           <p>
		           	Embark on a career in waste management today!!, become a seller and make some income.
		           </p>
		           
		          <h3>Requirements:</h3>
		          <p>The following documents are required to verify the details of the seller.</p>
		         
				  <li class="fa fa-check"><b> A copy of your identity document</b> <br/><i> * South African ID document or valid passport.</i></li>
				  <br/>  <br/>
				  <li class="fa fa-check"><b> Proof of banking</b> <br/><i> * A copy of your bank statement or a letter from the bank in order to verify banking details for payout purposes.</i></li>
			
				  <p style="color:red;">We kindly request that seller email all documents to 
				     oswell@tulsaspark.com or alternatively send them 
				  via WhatsApp to +27 47 531 2293 / +27 78 050 7765</p>
		           
		           <p></p>
		         </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="registertosell-media"> <img src="#{request.contextPath}/resources/img/back-statement.jpeg" alt=" "/> </div>
		        <div class="registertosell-desc">
		          <h3>Bank Statement</h3>
		          <p>Bank statement (Less than 3 months old)</p>
		        </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="registertosell-media"> <img src="#{request.contextPath}/resources/img/id-book.PNG" alt=" "/> </div>
		        <div class="registertosell-desc">
		          <h3>Certified ID Document</h3>
		          <p>ID Document (Less than 3 months old)</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
   </ui:composition>

</html>