<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rich="http://richfaces.org/rich" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:sec="http://www.springframework.org/security/tags">
<h:head>

</h:head>

<body>
    <ui:composition template="/WEB-INF/template/commonLayout.xhtml">
      
        <ui:define name="content">
        	  <p:importEnum type="com.pc.entities.enums.ApprovalStatusEnum" />
            <!-- Main content -->
            <section class="content">
            	
                <div>
                    <h:form id="mainForm">
                        <div class="box box-default color-palette-box">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa  fa-building"></i> Institution Registration</h3>
                            </div>
                            <div class="box box-default color-palette-box">
                                <div class="box-body">
                                    <p:panelGrid class="list-group-item" style="width:100%" columns="1" layout="grid">
                                        <h:panelGrid style="width:100%" rendered="#{institutionUI.registrationSuccessful}">
                                            <div class="alert alert-success alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h4><i class="icon fa fa-check"></i> Institution updated successful</h4>
                                            </div>
                                        </h:panelGrid>
                                          <h:panelGrid style="width:100%" rendered="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}">
	                                         <div class="callout callout-warning">
								                <p>The Accreditation Dates for the selected institution has expired, please update the date accordingly</p>
								              </div>
							              </h:panelGrid>
                                        <p:wizard flowListener="#{institutionUI.onFlowProcess}" id="wiz" widgetVar="wiz">
											
                                            <p:tab id="InstitutionDetails" title="Institution Details">
                                                <p:panelGrid class="list-group-item" style="width:100%" columns="2" layout="grid">

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <small><p:outputLabel value="Institution Type"  /></small>
                                                        <p:selectOneMenu disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="instType" value="#{institutionUI.institution.institutionType}" converter="#{institutionTypeConvertor}" style="width:100%" requiredMessage="Select institution type" required="true">
                                                            <f:selectItem itemLabel="---Select Institution Type---" noSelectionOption="true" />
                                                            <f:selectItems value="#{commonItemUI.selectItemsInstitutionType}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                        	<p:ajax/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel class="box-title" value="Name of Institution" for="institutionName" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="institutionName" value="#{institutionUI.institution.institutionName}" style="width:100%" required="true" requiredMessage="Please enter name of institution">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel class="box-title" value="Known As" for="knownAs" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="knownAs" value="#{institutionUI.institution.knownAs}" style="width:100%" required="true" requiredMessage="Please enter the name that the institution is known as">
                                                       		<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
													     <small><p:outputLabel value="Contact Number" for="contactNumber" /></small>
									                     <p:inputMask disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}"  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{institutionUI.institution.contactNumber}" id="contactNumber"  style="width:100%" required="true"  requiredMessage="Please enter contact numbere">
									                    	<p:ajax/>
									                     </p:inputMask>
										            </h:panelGroup>
                                                    
                                                    <h:panelGroup styleClass="md-inputfield">
													     <small><p:outputLabel value="Alternative Contact Number" for="alternativeContactNumber" /></small>
									                     <p:inputMask disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}"  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{institutionUI.institution.alternativeContactNumber}" id="alternativeContactNumber"  style="width:100%" required="true"  requiredMessage="Please enter alternative contact numbere">
									                    	<p:ajax/>
									                     </p:inputMask>
										            </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel class="box-title" value="Email Address" for="email" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" type="email" id="email" value="#{institutionUI.institution.email}" style="width:100%" required="true" validatorMessage="Please enter a valid email address"  requiredMessage="Please enter email address">
                                                        	<p:ajax/>
                                                        	 <f:validateRegex pattern="#{commonUI.EMAIL_FORMAT}"/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel class="box-title" value="Accreditation Number" for="accreditationNumber" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="accreditationNumber" value="#{institutionUI.institution.accreditationNumber}" style="width:100%" required="true" requiredMessage="Please enter accreditation number">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                         <p:panelGrid  style="width:100%" columns="2" >
                                                         	<h:panelGroup styleClass="md-inputfield">
		                                                        <p:outputLabel class="box-title" value="Accreditation Start Date" for="accreditationStartDate" />
		                                                        <br/>
		                                                        <p:calendar id="accreditationStartDate" value="#{institutionUI.institution.accreditationStartDate}" showOn="button" required="true" requiredMessage="Please enter accreditation start date" navigator="true" pattern="dd-MMM-yyyy">
		                                                        	<p:ajax  event = "dateSelect" update="@form" listener="#{institutionUI.prepareEndDate()}"/>
		                                                        </p:calendar>
	                                                        </h:panelGroup>
	                                                        
	                                                        <h:panelGroup styleClass="md-inputfield">
		                                                        <p:outputLabel class="box-title" value="Accreditation End Date" for="accreditationEndDate" />
		                                                        <br/>
		                                                        <p:calendar disabled="true" id="accreditationEndDate" value="#{institutionUI.institution.accreditationEndDate}" showOn="button" navigator="true" pattern="dd-MMM-yyyy" >
		                                                        	<p:ajax/>
		                                                        </p:calendar>
		                                                    </h:panelGroup>
                                                        </p:panelGrid>
                                                    </h:panelGroup>

                                                    

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <br/>
                                                        <p class="box-title"><i class="fa   fa-map-marker"></i> Address Details</p>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <br/>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Institution Address line 1" for="resAddressLine1" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="resAddressLine1" value="#{institutionUI.resAddress.addressLine1}" style="width:100%" required="true" requiredMessage="Please enter residential address line 1">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    <h:panelGroup styleClass="md-inputfield">
                                                        <p:outputLabel value="Institution Address line 2" for="resAddressLine2" />
                                                        <p:inputText  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="resAddressLine2" value="#{institutionUI.resAddress.addressLine2}" style="width:100%" required="true" requiredMessage="Please enter residential address line 2">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                    
                                                    
                                                     <h:panelGroup styleClass="md-inputfield">
                                                        <small><p:outputLabel value="Province(Address Line 3)"  /></small>
                                                        <p:selectOneMenu  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="province" value="#{institutionUI.resAddress.province}" converter="#{provinceConvertor}" style="width:100%" requiredMessage="Select province" required="true">
                                                            <f:selectItem itemLabel="---Select Province---" noSelectionOption="true" />
                                                            <f:selectItems value="#{commonItemUI.selectItemsProvince}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax update="@form"/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup id="pgCity" styleClass="md-inputfield" rendered="#{institutionUI.resAddress.province ne null}">
                                                        <small><p:outputLabel value="City/Town"  /></small>
                                                        <p:selectOneMenu  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" id="city" value="#{institutionUI.resAddress.city}" converter="#{cityConvertor}" style="width:100%" requiredMessage="Select city" required="true">
                                                            <f:selectItem itemLabel="---Select City---" noSelectionOption="true" />
                                                            <f:selectItems value="#{institutionUI.selectItemsCity}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                            <p:ajax/>
                                                        </p:selectOneMenu>
                                                    </h:panelGroup>

                                                                                                        
                                                    <h:panelGroup styleClass="md-inputfield">
                                                       <p:outputLabel value="Pin Location" style="width:100%"/>
                                                       <p:commandButton  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" update="mapDialog mapForm" oncomplete="PF('mapDialog').show()" value="Click To Select Location" class="btn btn-default"  icon="fa fa-map-marker" title="Pin Location" process="@this"/>
												    </h:panelGroup>
												    
												     <h:panelGroup styleClass="md-inputfield" rendered="#{institutionUI.resAddress.latitude ne null}">
                                                        <p:outputLabel value="GPS Coordinates" for="gps" />
                                                        <p:inputText disabled="true" id="gps" value="latitude: #{institutionUI.resAddress.latitude} longitude: #{institutionUI.resAddress.latitude}" style="width:100%">
                                                        	<p:ajax/>
                                                        </p:inputText>
                                                    </h:panelGroup>

                                                </p:panelGrid>
                                            </p:tab>

                                            <p:tab id="CourseDetails" title="Course(s) Details">
                                                <p:panelGrid class="list-group-item" style="width:100%" columns="1" layout="grid">
                                                    
                                                     <h:panelGroup styleClass="md-inputfield">
                                                     	<small><p:outputLabel value="Course Name"  /></small>
                                                     	<br/>
	                                                    <p:autoComplete  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}"  var="var" itemLabel="#{var.description}" itemValue="#{var}" forceSelection="true" id="course" dropdown="true" value="#{institutionUI.course}" converter="#{courseConvertor}" completeMethod="#{commonItemUI.autoCompleteCorse}">
							                     		 		<p:column headerText="Course Name">
													            	<h:outputText value="#{var.description}" />
													            </p:column>
													             
													            <p:column  headerText="Type">
													                <h:outputText value="#{var.courseType.description}" />
													            </p:column>
													            
													            <p:column  headerText="Level">
													                <h:outputText value="#{var.courseLevel.description}" />
													            </p:column>
						                     		 	</p:autoComplete>
						                     		 	
						                     		 	 <p:spacer width="10" />
                                                        <p:commandButton  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" value="Add Course" icon="fa fa-save" class="btn btn-primary" update="@form" actionListener="#{institutionUI.addCourse}" />
                                                       
                                                        <p:spacer width="10" />
                                                        <p:commandButton  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{institutionUI.resetCourse}" />
                                                   
													</h:panelGroup>
													
                                                </p:panelGrid>

                                                <p:panelGrid class="list-group-item" style="width:100%" columns="1" layout="grid">
                                                    <p:dataTable var="var" value="#{institutionUI.courseList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">

                                                        <f:facet name="header">
                                                            <h:outputText value="Course List" />
                                                        </f:facet>

                                                        <p:column headerText="Id" sortBy="#{var.id}" rendered="false">
                                                            <h:outputText value="#{var.id}" />
                                                        </p:column>

                                                        <p:column headerText="Course Name" sortBy="#{var.courseName}">
                                                            <h:outputText value="#{var.description}" />
                                                        </p:column>

                                                        <p:column headerText="Course Type" sortBy="#{var.courseType.description}">
                                                            <h:outputText value="#{var.courseType.description}" />
                                                        </p:column>

                                                        <p:column headerText="Course Level" sortBy="#{var.courseLevel.description}">
                                                            <h:outputText value="#{var.courseLevel.description}" />
                                                        </p:column>

                                                        <p:column width="45">
                                                            <p:commandButton  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" class="btn btn-block btn-warning btn-xs" update="@form" icon="fa fa-trash-o" title="Delete" process="@this" action="#{institutionUI.removeCourse}">
                                                                <p:confirm header="Confirm" message="Are you sure you want to delete this course?" icon="ui-icon-warning" />
                                                                <f:setPropertyActionListener value="#{var}" target="#{institutionUI.course}" />
                                                            </p:commandButton>
                                                        </p:column>

                                                    </p:dataTable>
                                                </p:panelGrid>
                                            </p:tab>

                                            <p:tab id="QRCode" title="QR Code">
                                                <p:panelGrid class="list-group-item" style="width:100%" columns="1" layout="grid">
                                                    <p:panelGrid columns="2">
                                                        <p:barcode value="#{institutionUI.institution.qrCode}" format="png" width="300" height="300" type="qr" />
                                                    </p:panelGrid>
                                                   
                                                </p:panelGrid>
                                                
                                                 <p:panelGrid class="list-group-item" style="width:100%" columns="2" layout="grid">
                                                 	  <h:panelGroup styleClass="md-inputfield">
                                                 	  	 <p:commandButton  disabled="#{institutionUI.institution.status eq ApprovalStatusEnum.Expired}" oncomplete="PF('wiz').loadStep(PF('wiz').cfg.steps [0], true)" value="Download QR Code" icon="fa fa-download" class="btn btn-primary" update="@form" ajax="false" actionListener="#{institutionUI.downloadQRCode()}" />
                                                 	  	 <p:spacer width="10"></p:spacer>
                                                 	  	 <p:commandButton oncomplete="PF('wiz').loadStep(PF('wiz').cfg.steps [0], true)" value="Submit Institution Details" icon="fa fa-save" class="btn btn-primary" update="@form" actionListener="#{institutionUI.submitIntDetails}" />
                                                 	  	
                                                 	  </h:panelGroup>
                                                 	 
                                                 	  <h:panelGroup styleClass="md-inputfield">
                                                 	  	
                                                 	  </h:panelGroup>
                                                 </p:panelGrid>

                                            </p:tab>

                                        </p:wizard>

                                    </p:panelGrid>
                                     <p:panelGrid class="list-group-item" style="width:100%" columns="1" layout="grid">
                                     	 <p:commandButton oncomplete="PF('wiz').loadStep(PF('wiz').cfg.steps [0], true)" value="Clear All" icon="fa fa-recycle" class="btn btn-warning" process="@this" update="@form" actionListener="#{institutionUI.reset}" />
                                    </p:panelGrid>
                                </div>
                            </div>
                            
                            
                            <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<style type="text/css">
										    .expired {
										        background-color: #ffb3b3 !important;
										        background-image: none !important;
										        color: #000000 !important;
										    }
										    
										    .end_date_expired {
										        background-color:  #f9e79f !important;
										        background-image: none !important;
										        color: #000000 !important;
										    }
										    
										     .active {
										        background-color:  #abebc6 !important;
										        background-image: none !important;
										        color: #000000 !important;
										    }
										</style>
								    	 <li class="list-group-item">	
								    	 	 <strong><i class="fa  fa-info"></i> Color Legend:</strong>
								    	 	 <br/>
								    		<span class="label" style="background-color:#ffb3b3;color:black">EXPIRED</span>
								    		<span class="label" style="background-color:#f9e79f;color:black">END DATE EXPIRED</span>
								    		<span class="label" style="background-color:#abebc6;color:black">APPROVED</span>
								    	</li>
										 <p:dataTable  rowStyleClass="#{var.status eq ApprovalStatusEnum.Expired ? 'expired' : (var.status eq ApprovalStatusEnum.EndDateExpired ? 'end_date_expired' : 'active')}"  var="var" value="#{institutionUI.dataModel}" id="intitutionList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
															paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
												    	
										    <f:facet name="header">
										           <h:outputText value="Institution List" />
										    </f:facet>
										    
										    <p:column headerText="Name of Institution" filterBy="#{var.institutionName}"  sortBy="#{var.institutionName}">
										        <h:outputText value="#{var.institutionName}"/>
										    </p:column>
										    
										     <p:column headerText="Accreditation Number" filterBy="#{var.accreditationNumber}"  sortBy="#{var.accreditationNumber}">
										        <h:outputText value="#{var.accreditationNumber}"/>
										    </p:column>
										    
										    <p:column headerText="Institution Type"  sortBy="#{var.institutionType.description}">
										        <h:outputText value="#{var.institutionType.description}"/>
										    </p:column>
										    
										     <p:column headerText="Contact Number"  sortBy="#{var.contactNumber}">
										        <h:outputText value="#{var.contactNumber}"/>
										    </p:column>
										    
										    <p:column headerText="Alternative Contact Number"  sortBy="#{var.alternativeContactNumber}">
										        <h:outputText value="#{var.alternativeContactNumber}"/>
										    </p:column>
										    
										     <p:column headerText="Email Address"  sortBy="#{var.email}">
										        <h:outputText value="#{var.email}"/>
										    </p:column>
										    
										    <p:column headerText="Accreditation Start Date"  sortBy="#{var.accreditationStartDate}">
										        <h:outputText value="#{var.accreditationStartDate}">
										        	 <f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										    
										    <p:column headerText="Accreditation End Date"  sortBy="#{var.accreditationEndDate}">
										        <h:outputText value="#{var.accreditationEndDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										    
										    <p:column headerText="Status"  sortBy="#{var.status}">
										        <h:outputText value="#{var.status.friendlyName}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}" rendered="false">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="145">
										    	<center>
										    	<p:commandButton  rendered="#{var.status eq ApprovalStatusEnum.EndDateExpired}" action="#{institutionUI.updateExpiredInst()}"  onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-danger btn-xs" icon="fa fa-times" title="Update Status To Expired" process="@this" update="mainForm">
													<p:confirm header="Confirm" message="This action will set the status to Expired, Are you sure you want update the status?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
												</p:commandButton>
												<p:spacer width="5" />
										    	<p:commandButton  rendered="#{var.status eq ApprovalStatusEnum.Expired or var.status eq ApprovalStatusEnum.EndDateExpired}" action="#{institutionUI.prepareUpdate()}"  onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-success btn-xs" icon="fa fa-calendar-plus-o" title="Update Accreditation Start Date" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
												</p:commandButton>
										    	<p:spacer width="5" />
												<p:commandButton  rendered="#{var.status eq ApprovalStatusEnum.Approved}" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-info btn-xs" action="#{institutionUI.prepareUpdate()}"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{institutionUI.deleteInstitution}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this institution?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
												</p:commandButton>
												</center>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
                            
                            
                            
                            
                        </div>
                    </h:form>
                    
                    
                    
                </div>
                
                
                 <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip" id="mapDialog" appendTo="@(body)" modal="true" closable="true" width="50%" height="70%" responsive="true" closeOnEscape="true">
					<f:facet name="header">
			              <h4 class="box-title">Select Location</h4>
			        </f:facet>
			        
					<h:form id="mapForm" prependId="false"> 
						
					    <p:gmap widgetVar="gmap" rendered="true" id="gmap" center="-26.205072,28.046915" zoom="15" type="ROADMAP" style="width:100%;height:400px">
					        <p:ajax event="pointSelect" oncomplete="PF('mapDialog').hide()" listener="#{institutionUI.onPointSelect}" />
					    </p:gmap>
					    
					     <script type="text/javascript">
						    if (navigator.geolocation) {
						        checkGeolocationByHTML5();
						    } else {
						        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
						    }
						
						    function checkGeolocationByHTML5() {
						        navigator.geolocation.getCurrentPosition(function(position) {
						            setMapCenter(position.coords.latitude, position.coords.longitude);
						        }, function() {
						            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
						        });
						    }
						
						    function checkGeolocationByLoaderAPI() {
						        if (google.loader.ClientLocation) {
						            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
						        } else {
						            // Unsupported! Show error/warning?
						        }
						    }
						
						    function setMapCenter(latitude, longitude) {
						    	PF('gmap').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
						    }
						</script>
					</h:form>
			        
			         <p:ajax event="close" update="mainForm" />
				</p:dialog>
                
                
            </section>
        </ui:define>
    </ui:composition>
</body>

</html>