<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
			 <div>
		    <section class="content">
		    
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-ban"></i> Receive Reported Institutions</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		 <h:form id="tableForm">
								 	   		 			<p:fieldset>
															<ui:include src="/user/download_lazy.xhtml">
																<ui:param name="file_name" value="Reported_Institutions" />
																<ui:param name="target" value="reportedInstList" />
															</ui:include>
														</p:fieldset>
												    	
												    	 <p:dataTable   var="var" value="#{reportedInstitutionsUI.dataModel}" id="reportedInstList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
															paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
												    	
														    <f:facet name="header">
														           <h:outputText value="Reported Institutions List" />
														           <div align="right">
															           <p:commandButton align="right" id="toggler" type="button" value="Columns" icon="pi pi-align-justify" />
	       															   <p:columnToggler datasource="reportedInstList" trigger="toggler" />
       															   </div>
														    </f:facet>
														    
														    
														    <p:column headerText="Name of Institute" filterBy="#{var.institutionName}"  sortBy="#{var.institutionName}">
														        <h:outputText value="#{var.institutionName}"/>
														    </p:column>
														    
														    <p:column headerText="Report Type"  sortBy="#{var.reportType.friendlyName}">
														        <h:outputText value="#{var.reportType.friendlyName}"/>
														    </p:column>
														    														    
														    <p:column headerText="Date Reported"  sortBy="#{var.createDate}">
														        <h:outputText value="#{var.createDate}">
														        	<f:convertDateTime pattern="dd MMM yyyy" />
														        </h:outputText>
														    </p:column>
														    
														    <p:column headerText="Address Line 1" exportable="true">
														        <h:outputText value="#{var.address.addressLine1}"/>
														    </p:column>
														    
														     <p:column headerText="Address Line 2"  exportable="true">
														        <h:outputText value="#{var.address.addressLine2}"/>
														    </p:column>
														    
														     <p:column headerText="Address Line 3"  exportable="true">
														        <h:outputText value="#{var.address.addressLine3}"/>
														    </p:column>
														    
														     <p:column headerText="City"  exportable="true">
														        <h:outputText value="#{var.address.city.description}"/>
														    </p:column>
														    
														    <p:column headerText="Surburb"  exportable="true">
														        <h:outputText value="#{var.address.suburb}"/>
														    </p:column>
														    
														    <p:column headerText="Province"  exportable="true">
														        <h:outputText value="#{var.address.province.description}"/>
														    </p:column>
														    
														    <p:column headerText="Code"  exportable="true">
														        <h:outputText value="#{var.address.code}"/>
														    </p:column>
														    
														     <p:column headerText="Status"  sortBy="#{var.status.friendlyName}">
														        <h:outputText value="#{var.status.friendlyName}"/>
														    </p:column>
														    
														    
														    
														    <p:column width="45" exportable="false">
																<p:commandButton action="#{reportedInstitutionsUI.prepaMapModel}" class="btn btn-block btn-info btn-xs"  icon="fa fa-search-plus" title="View Details/Update Details" update="investigationForm investigationForm:mapFS">
																	<f:setPropertyActionListener value="#{var}" target="#{reportedInstitutionsUI.reportedInstitutions}" />
																</p:commandButton>
															</p:column>
														 
														</p:dataTable>
												    	
												    	
												    	
											</h:form>
														
								 	   </div>
					   			 </div>
					   
					   			<h:form id="investigationForm">
				
								   		<p:panel  rendered="#{reportedInstitutionsUI.reportedInstitutions.id ne null}" toggleable="true" id="rolePanel" header="Institutions Details" styleClass="margin" >
								   				<p:fieldset legend="Investigation Feedback" collapsed="true" toggleable="true">
								   					<h:panelGroup  >
														<p:selectOneMenu style="width:50%" value="#{reportedInstitutionsUI.reportedInstitutions.status}" required="true" requiredMessage="Please select status">
															<p:ajax />
															<f:selectItem itemLabel="---Select Status---"  noSelectionOption="true" />
															<f:selectItems value="#{commonItemUI.reportedInstitutionsStatusDD}" var="rv" itemLabel="#{rv.displayName}" itemValue="#{rv}" />
														</p:selectOneMenu>
													</h:panelGroup>
													
													<h:panelGroup >
														 <small><p:outputLabel value="Investigator Feedback" for="feedback" /></small>
														 <p:textEditor widgetVar="feedback" id="feedback" value="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback}" height="300" style="margin-bottom:10px"/>
    												</h:panelGroup>
													
													<h:panelGroup>
														<p:commandButton value="Update" icon="fa fa-save" class="btn btn-primary" update="investigationForm tableForm" actionListener="#{reportedInstitutionsUI.updateStatus}"/>
						                            </h:panelGroup>
						                        </p:fieldset> 
						                        <br/>
									   			<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
													
													 <h:panelGroup styleClass="md-inputfield">
														   <small><p:outputLabel value="Status" for="status" /></small>
										                   <p:inputText id="status" style="width:100%"  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.status.friendlyName}" />
										              </h:panelGroup>
										              
										              <h:panelGroup styleClass="md-inputfield">
														   <small><p:outputLabel value="Institution Name" for="institutionName" /></small>
										                   <p:inputText  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.institutionName}"  id="institutionName"  style="width:100%;color:black" required="true" requiredMessage="Please enter your institution name"/>
										              </h:panelGroup>
										              
													
													<h:panelGroup styleClass="md-inputfield">
									                   	 <small><p:outputLabel value="Report Type"/></small>
									                   	 <p:selectOneRadio disabled="true"  layout="responsive" style="margin:1%" value="#{reportedInstitutionsUI.reportedInstitutions.reportType}" columns="2">
									                        <f:selectItems value="#{commonItemUI.reportTypeEnumDD}" var="var" itemLabel="#{var.friendlyName}" itemValue="#{var}" />
									                     </p:selectOneRadio>
									                  </h:panelGroup>
									                  
									                  <h:panelGroup styleClass="md-inputfield">
														   <small><p:outputLabel value="Reference Number" for="refNumber" /></small>
										                   <p:inputText  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.refNumber}"  id="refNumber"  style="width:100%;color:black" required="true" requiredMessage="Please enter your reference number"/>
										              </h:panelGroup>
										              
										              <h:panelGroup styleClass="md-inputfield">
	                                                        <br/>
	                                                        <p class="box-title"><i class="fa   fa-map-marker"></i> Address Details</p>
	                                                    </h:panelGroup>
	                                                    
	                                                     <h:panelGroup styleClass="md-inputfield">
	                                                     </h:panelGroup>
	
	                                                    <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="Address line 1" for="addressLine1" />
	                                                        <p:inputText disabled="true" id="addressLine1" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine1}" style="width:100%" required="true" requiredMessage="Please enter residential address line 1" />
	                                                    </h:panelGroup>
	
	                                                    <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="Address line 2" for="addressLine2" />
	                                                        <p:inputText disabled="true" id="addressLine2" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine2}" style="width:100%" required="true" requiredMessage="Please enter residential address line 2" />
	                                                    </h:panelGroup>
	                                                    
	                                                    <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="Address line 3" for="addressLine3" />
	                                                        <p:inputText disabled="true" id="addressLine3" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine3}" style="width:100%" required="false" requiredMessage="Please enter residential address line 3" />
	                                                    </h:panelGroup>
	
	                                                    <h:panelGroup styleClass="md-inputfield" rendered="false">
	                                                        <small><p:outputLabel value="Province"  /></small>
	                                                        <p:selectOneMenu disabled="true" id="province" value="#{reportedInstitutionsUI.reportedInstitutions.address.province}" converter="#{provinceConvertor}" style="width:100%" requiredMessage="Select province" required="true">
	                                                            <f:selectItem itemLabel="---Select Province---" noSelectionOption="true" />
	                                                            <f:selectItems  value="#{commonItemUI.selectItemsProvince}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
	                                                        </p:selectOneMenu>
	                                                    </h:panelGroup>
	                                                    
	                                                     
	                                                     <h:panelGroup styleClass="Province">
	                                                        <p:outputLabel value="Province" for="prov" />
	                                                        <p:inputText disabled="true" id="prov" value="#{reportedInstitutionsUI.reportedInstitutions.address.province.description}" style="width:100%" required="true" />
	                                                    </h:panelGroup>
	                                                    
	                                                     <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="City" for="city" />
	                                                        <p:inputText disabled="true" id="city" value="#{reportedInstitutionsUI.reportedInstitutions.address.city.description}" style="width:100%" />
	                                                    </h:panelGroup>
	                                                    
	                                                     <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="Suburb/Area" for="suburb" />
	                                                        <p:inputText disabled="true" id="suburb" value="#{reportedInstitutionsUI.reportedInstitutions.address.suburb}" style="width:100%" />
	                                                    </h:panelGroup>
	                                                    
	                                                     <h:panelGroup styleClass="md-inputfield">
	                                                        <p:outputLabel value="Code" for="code" />
	                                                        <p:inputText disabled="true" id="code" value="#{reportedInstitutionsUI.reportedInstitutions.address.code}" style="width:100%"/>
	                                                    </h:panelGroup>
	                                                    
										                
										        </p:panelGrid>
										        <br/>
										        <p:dataTable rendered="#{reportedInstitutionsUI.reportedInstitutionCourseList.size() gt 0}"  var="var" value="#{reportedInstitutionsUI.reportedInstitutionCourseList}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
												    <f:facet name="header">
												           <h:outputText value="Reported  Course(s)" />
												    </f:facet>
												    
												    <p:column headerText="Course Name" >
												        <h:outputText value="#{var.course.description}"/>
												        <h:outputText value="#{var.courseDesc}"/>
												    </p:column>
												    
												     <p:column headerText="Course Type" >
		                                                 <h:outputText value="#{var.course.courseType.description}" />
		                                                 <h:outputText value="#{var.courseType}"/>
		                                             </p:column>
		
		                                             <p:column headerText="Course Level" >
		                                                 <h:outputText value="#{var.course.courseLevel.description}" />
		                                                 <h:outputText value="#{var.courseLevel}"/>
		                                             </p:column>
												    
								    			</p:dataTable>
										        
										       
								   			
								   		</p:panel>
								   		<p:fieldset id="mapFS" styleClass="margin"  rendered="#{reportedInstitutionsUI.showMap}" >
										    <h:panelGrid id="mapPG" style="width:100%">
										       <h:form prependId="false">
												    <p:gmap id="gmap" center="#{reportedInstitutionsUI.reportedInstitutions.getAddress().getLatitude()},#{reportedInstitutionsUI.reportedInstitutions.getAddress().getLongitude()}" zoom="15" type="STREET" style="width:100%;height:400px" model="#{reportedInstitutionsUI.circleModel}">
												        <p:ajax event="overlaySelect" listener="#{reportedInstitutionsUI.onCircleSelect}"/>
												    </p:gmap>
												</h:form>
											</h:panelGrid>
								   		</p:fieldset>
								   			
								   		<br/>
								 
								 </h:form>
					   		 </div>
			</section>
			
			
		<p:dialog widgetVar="userRoleDialog" hideEffect="clip" showEffect="clip" id="userRoleDialog" appendTo="@(body)" modal="true" closable="true" width="25%" height="50%" responsive="true" closeOnEscape="true">
			<f:facet name="header">
	              <h4 class="box-title">#{userRoleUI.selectedUser.name} #{userRoleUI.selectedUser.surname} Role(s)</h4>
	        </f:facet>
			
			<h:form id="userRoleDialogForm">
				
		              <div id="external-events">
		                <p:repeat var="var" value="#{userRoleUI.currentUserRoles}">
							<div class="external-event bg-green">#{var.role.description}</div>
						</p:repeat>
		              </div>
		              
		              <p:fieldset  rendered="#{userRoleUI.currentUserRoles.size() lt 1}">
		              	  <br/>
			              <div  class="alert alert-info">
			                No Roles available for #{userRoleUI.selectedUser.name} #{userRoleUI.selectedUser.surname}
			              </div>
		              </p:fieldset>
			</h:form>
		</p:dialog>
			</div>
			
			
    	</ui:define>
    </ui:composition>
</body> 
</html>
