<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-user-plus"></i> Add New Seller</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<h4 class="box-title"><i class="fa fa-user"></i> Seller Personal Details</h4>
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									        	 <h:panelGroup styleClass="md-inputfield">
													   <small><p:outputLabel value="Enter ID Number" for="idNum" /></small>
									                   <p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"   requiredMessage="Please enter id number"/>
										          </h:panelGroup>
										          
										         <h:panelGroup styleClass="md-inputfield">
														<small><p:outputLabel value="Title"  /></small>
														<p:selectOneMenu id="title" value="#{userUI.user.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
															<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
															<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
														</p:selectOneMenu>
												</h:panelGroup>	
														   
												 <h:panelGroup styleClass="md-inputfield">
													   <small><p:outputLabel value="Enter Name" for="name" /></small>
									                   <p:inputText validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided" value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name">
									                   	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
									                   </p:inputText>
										           </h:panelGroup>
										                     
										          <h:panelGroup styleClass="md-inputfield">
														<small><p:outputLabel value="Enter Surname" for="surname" /></small>
									                    <p:inputText validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided" value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname">
									                    	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
									                    </p:inputText>
										           </h:panelGroup>
										                     
										           <h:panelGroup styleClass="md-inputfield">
													     <small><p:outputLabel value="Enter Cell Number" for="cell" /></small>
									                     <p:inputMask  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
										           </h:panelGroup>
										                     
										            <h:panelGroup styleClass="md-inputfield">
														 <small><p:outputLabel value="Enter Email" for="email" /></small>
									                     <p:inputText value="#{userUI.user.email}" id="email"  style="width:100%" required="true" type="email"  requiredMessage="Please enter email address"/>
										             </h:panelGroup>
									                
									         </p:panelGrid>
									         <h4 class="box-title"><i class="fa fa-bank"></i> Seller Banking Details</h4>
								 	   		 <p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			     
													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="Bank Name" for="bank" />
														    <p:inputText  id="bank" value="#{userUI.bankingDetails.bank}"  style="width:100%" required="true" requiredMessage="Please enter bank"/>
													  </h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="Branch Code" for="branchCode" />
														    <p:inputText  id="branchCode" value="#{userUI.bankingDetails.branchCode}"  style="width:100%" required="true" requiredMessage="Please enter branchCode"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="Account Number" for="accountNumber" />
														    <p:inputText  id="accountNumber" value="#{userUI.bankingDetails.accountNumber}"  style="width:100%" required="true" requiredMessage="Please enter accountNumber"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="Branch Name" for="branchName" />
														    <p:inputText  id="branchName" value="#{userUI.bankingDetails.branchName}"  style="width:100%" required="true" requiredMessage="Please enter branchName"/>
														</h:panelGroup>

													  <h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="Account Holder" for="accountHolder" />
														    <p:inputText  id="accountHolder" value="#{userUI.bankingDetails.accountHolder}"  style="width:100%" required="true" requiredMessage="Please enter accountHolder"/>
													 </h:panelGroup>
								 	   			
								 	   		 </p:panelGrid>
								 	   		 <p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
								 	   			
								 	   			 
									                 <h:panelGroup styleClass="md-inputfield">      
										             	 <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" styleClass="btn btn-info" update="@form" icon="fa fa-save"  action="#{userUI.addCustomer}"/>
										             	 <p:spacer width="10"/>
								                     	 <p:commandButton process="@this" value="Clear" icon="fa fa-recycle" class="btn btn-warning" update="@form" actionListener="#{userUI.resetCustomer}"/>
								                    </h:panelGroup>
								 	   		 </p:panelGrid>
								 	   </div>
					   			 </div>
					   			<div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    	<p:dataTable var="var" value="#{userUI.customerUserRoles}" reflow="true" rows="5" paginatorPosition="bottom" paginator="true">
										    
										    <f:facet name="header">
										           <h:outputText value="Available Seller" />
										    </f:facet>
										    
										    <p:column style="width:50px" >
									            <p:rowToggler id="toggle" />
									         </p:column>
									         
										    
										     <p:column headerText="Title"  sortBy="#{var.user.title.description}">
										        <h:outputText value="#{var.user.title.description}"/>
										    </p:column>
										    
										    <p:column headerText="Name"  sortBy="#{var.user.name}">
										        <h:outputText value="#{var.user.name}"/>
										    </p:column>
										    
										    <p:column headerText="Surname"  sortBy="#{var.user.surname}">
										        <h:outputText value="#{var.user.surname}"/>
										    </p:column>
										    
										    <p:column headerText="ID Number"  sortBy="#{var.user.rsaId}">
										        <h:outputText value="#{var.user.rsaId}"/>
										    </p:column>
										    
										    <p:column headerText="Cell Number"  sortBy="#{var.user.cellNumber}">
										        <h:outputText value="#{var.user.cellNumber}"/>
										    </p:column>
										    
										     <p:column headerText="Email"  sortBy="#{var.user.email}">
										        <h:outputText value="#{var.user.email}"/>
										    </p:column>
										    
										    <p:column headerText="Registered Date"  sortBy="#{var.user.createDate}">
										        <h:outputText value="#{var.user.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										    
										    <p:column width="50">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" action="#{userUI.prepareCustomerUpdate}" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{userUI.userRole}" />
												</p:commandButton>
												<p:spacer width="5" rendered="false" />
												<p:commandButton rendered="false" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block btn-warning btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{userUI.deleteUser}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this customer?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{userUI.userRole}" />
												</p:commandButton>
											</p:column>
											
											 <p:rowExpansion>
											 	<p:panelGrid columns="2">
												    <f:facet name="header">
												        <h:outputText value="BANKING DETAILS" />
												    </f:facet>
												     
												    <h:outputText value="Bank Name:" />
												    <h:outputText value="#{var.user.bankingDetails.bank}" />
												     
												    <h:outputText value="Account Number:" />
												    <h:outputText value="#{var.user.bankingDetails.accountNumber}" />
												     
												    <h:outputText value="Branch Code:" />
												    <h:outputText value="#{var.user.bankingDetails.branchCode}" />
												     
												    <h:outputText value="Account Holder:" />
												    <h:outputText value="#{var.user.bankingDetails.accountHolder}" />
												    
												    <h:outputText value="Branch Name:" />
												    <h:outputText value="#{var.user.bankingDetails.branchName}" />
												</p:panelGrid>
											 </p:rowExpansion>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   			 
					   			 
					   			 
					   			 
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
