<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template_landing_page/commonLayout.xhtml">
		<ui:define name="content">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div id="about">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-12 col-md-6">
		        <div class="about-text">
		          <h2>Welcome to <span>Tulsaspark</span></h2>
		          <hr/>
		          <p>Waste management are the activities and actions required to manage waste from its inception to its final disposal. This includes the collection, transport, treatment and disposal of waste, together with monitoring and regulation of the waste management process.</p>
		          <p>Waste can be solid, liquid, or gaseous and each type has different methods of disposal and management. Waste management deals with all types of waste, including industrial, biological and household. In some cases waste can pose a threat to human health.[2] Waste is produced by human activity, for example the extraction and processing of raw materials.[3] Waste management is intended to reduce adverse effects of waste on human health, the environment or aesthetics. </p>
		      </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="about-media"> <img src="wm/img/about-1.jpg" alt=" "/> </div>
		        <div class="about-desc">
		          <h3>Our Version</h3>
		          <p>Description</p>
		        </div>
		      </div>
		      <div class="col-xs-12 col-md-3">
		        <div class="about-media"> <img src="wm/img/about-2.jpg" alt=" "/> </div>
		        <div class="about-desc">
		          <h3>Our Mission</h3>
		          <p>Description</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		</ui:define>
    </ui:composition>
</body> 
</html>
