<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
	  xmlns:hf="http://highfaces.org"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-dashboard"></i> Dashboard</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   
								 	   	   <p:fieldset rendered="#{!profileUI.currentUser.enabled}">
								 	   			  <div class="callout callout-warning">
									                <h4>Just be patient!</h4>
									
									                <p>Your account is being processed, you will receive email notification regarding the outcome of your account. </p>
									              </div>
								 	   		</p:fieldset>
								 	   		<p:fieldset>
								 	   			<div class="ui-g-12 ui-md-6">
									 	   			<hf:chart height="150%" type="column" title="Best Selling Product Category" xaxisLabel="Product Category" yaxisLabel="Total Sold in Kg">
													    <hf:chartSerie colorByPoint="true" type="column" name="column"  var="inst" tickLabel="#{inst.label}"  value="#{highfacesUI.productCatList}"  point="#{inst.total}"  />
													</hf:chart>
												</div>
												
								 	   			<div class="ui-g-12 ui-md-6">
									 	   			<hf:chart height="150%" type="column" title="Best Selling Products" xaxisLabel="Products" yaxisLabel="Total Sold in Kg">
													    <hf:chartSerie colorByPoint="true" type="column" name="column"  var="inst" tickLabel="#{inst.label}"  value="#{highfacesUI.itemsList}"  point="#{inst.total}"  />
													</hf:chart>
												</div>
												
												
									        	<h:panelGroup rendered="false">
					                        	<div class="ui-g-12 ui-md-6">
						                            <hf:chart type="pie" title="Series with individual lists">
						                                <hf:chartSerie name="Boys" value="#{lineChartBean.boys}" var="point" point="#{point.amount}" tickLabel="#{point.year}" dataLabel="&lt;b>{point.name}&lt;/b>: {point.percentage:.1f} % &lt;i>({point.y})&lt;/i>" />
						                            </hf:chart>
					                            </div>
					                            <div class="ui-g-12 ui-md-6">
						                            <hf:chart type="line" title="Series with individual lists" xaxisLabel="Year" yaxisLabel="Amount">
						                                <hf:chartSerie name="Boys" value="#{lineChartBean.boys}" var="point" point="#{point.amount}" tickLabel="#{point.year}" />
						                                <hf:chartSerie name="Girls" value="#{lineChartBean.girls}" var="point" point="#{point.amount}" />
						                                <hf:chartTooltip backgroundColor="#ffff88" shared="true" />
						                            </hf:chart>
					                        	</div>
					                        	<div class="ui-g-12 ui-md-6">
					                        	<hf:chart type="pie" title="Series with individual lists">
													<hf:chartSerie name="Boys" value="#{lineChartBean.boys}" var="point" point="#{point.amount}" tickLabel="#{point.year}" />
												</hf:chart>
												</div>
												<div class="ui-g-12 ui-md-6">
												<hf:chart type="pie" title="Series with individual lists" alpha3d="45" beta3d="0">
													<hf:chartSerie name="Boys" value="#{lineChartBean.boys}" var="point" point="#{point.amount}" tickLabel="#{point.year}" />
												</hf:chart>
												</div>
												</h:panelGroup>
											</p:fieldset>
								 	   </div>
					   			 </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
