<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template_landing_page/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    	<p:growl p:autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl"> </p:growl>
	    		 <div class="container">
		            <div class="search">
		               
		                <div class="row search-box margin-top col-md-8 col-md-offset-2">
								 <h:form id="mainForm">
							 		<h2 class="section-title"> Institution Report Status</h2>
							 		<hr/>
									<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
							              <h:form id="searchFRM">
							                    <div class="col-md-6">
							                    	<p:inputText id="refNumber" class="form-control" value="#{reportedInstitutionsUI.refNumber}"  placeholder="Enter Reference Number" required="true"   type="text" requiredMessage="Please fill in"/>
							                    </div>
							                    <div class="col-md-6">
							                        <h:panelGroup styleClass="md-inputfield">      
										             	 <p:commandButton value="Submit" update="searchFRM investigationForm" styleClass="btn btn-block btn-success" style="width:100%"  actionListener="#{reportedInstitutionsUI.findByRefNumber}"/>
										             </h:panelGroup>
							                    </div>
						                    </h:form>  
								    </p:panelGrid>
								</h:form>
					    
		                	
		                	
		                </div>
		            </div>
		        </div>
		        
	        	<h:form id="investigationForm">
	        		
					 	<div class="row search-box margin-top col-md-8 col-md-offset-2">
					   		<p:panel  rendered="#{reportedInstitutionsUI.reportedInstitutions.id ne null}" toggleable="true" id="rolePanel" header="Institutions Details" styleClass="margin" >
					   			
						   			<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
										
										 <h:panelGroup styleClass="md-inputfield">
											   <small><p:outputLabel value="Status" for="status" /></small>
							                   <p:inputText id="status" style="width:100%"  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.status.friendlyName}" />
							              </h:panelGroup>
							              
							              <h:panelGroup styleClass="md-inputfield">
											   <small><p:outputLabel value="Institution Name" for="institutionName" /></small>
							                   <p:inputText  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.institutionName}"  id="institutionName"  style="width:100%;color:black" required="true" requiredMessage="Please enter your institution name"/>
							              </h:panelGroup>
										
										<h:panelGroup styleClass="md-inputfield">
						                   	 <small><p:outputLabel value="Report Type"/></small>
						                   	 <p:selectOneRadio disabled="true"  layout="responsive" style="margin:1%" value="#{reportedInstitutionsUI.reportedInstitutions.reportType}" columns="2">
						                        <f:selectItems value="#{commonItemUI.reportTypeEnumDD}" var="var" itemLabel="#{var.friendlyName}" itemValue="#{var}" />
						                     </p:selectOneRadio>
						                  </h:panelGroup>
						                  
						                  <h:panelGroup styleClass="md-inputfield">
											   <small><p:outputLabel value="Reference Number" for="refNumber" /></small>
							                   <p:inputText  disabled="true" value="#{reportedInstitutionsUI.reportedInstitutions.refNumber}"  id="refNumber"  style="width:100%;color:black" required="true" requiredMessage="Please enter your reference number"/>
							              </h:panelGroup>
						                  
						                  
							              <h:panelGroup styleClass="md-inputfield">
		                                      <br/>
		                                      <p class="box-title"><i class="fa   fa-map-marker"></i> Address Details</p>
		                                  </h:panelGroup>
		                                  
		                                   <h:panelGroup styleClass="md-inputfield">
		                                   </h:panelGroup>
		
		                                  <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="Address line 1" for="addressLine1" />
		                                      <p:inputText disabled="true" id="addressLine1" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine1}" style="width:100%" required="true" requiredMessage="Please enter residential address line 1" />
		                                  </h:panelGroup>
		
		                                  <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="Address line 2" for="addressLine2" />
		                                      <p:inputText disabled="true" id="addressLine2" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine2}" style="width:100%" required="true" requiredMessage="Please enter residential address line 2" />
		                                  </h:panelGroup>
		                                  
		                                  <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="Address line 3" for="addressLine3" />
		                                      <p:inputText disabled="true" id="addressLine3" value="#{reportedInstitutionsUI.reportedInstitutions.address.addressLine3}" style="width:100%" required="false" requiredMessage="Please enter residential address line 3" />
		                                  </h:panelGroup>
		
		                                  <h:panelGroup styleClass="md-inputfield" rendered="false">
		                                      <small><p:outputLabel value="Province"  /></small>
		                                      <p:selectOneMenu disabled="true" id="province" value="#{reportedInstitutionsUI.reportedInstitutions.address.province}" converter="#{provinceConvertor}" style="width:100%" requiredMessage="Select province" required="true">
		                                          <f:selectItem itemLabel="---Select Province---" noSelectionOption="true" />
		                                          <f:selectItems  value="#{commonItemUI.selectItemsProvince}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
		                                      </p:selectOneMenu>
		                                  </h:panelGroup>
		                                  
		                                   
		                                   <h:panelGroup styleClass="Province">
		                                      <p:outputLabel value="Province" for="prov" />
		                                      <p:inputText disabled="true" id="prov" value="#{reportedInstitutionsUI.reportedInstitutions.address.province.description}" style="width:100%" required="true" />
		                                  </h:panelGroup>
		                                  
		                                   <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="City" for="city" />
		                                      <p:inputText disabled="true" id="city" value="#{reportedInstitutionsUI.reportedInstitutions.address.city.description}" style="width:100%" />
		                                  </h:panelGroup>
		                                  
		                                   <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="Suburb/Area" for="suburb" />
		                                      <p:inputText disabled="true" id="suburb" value="#{reportedInstitutionsUI.reportedInstitutions.address.suburb}" style="width:100%" />
		                                  </h:panelGroup>
		                                  
		                                   <h:panelGroup styleClass="md-inputfield">
		                                      <p:outputLabel value="Code" for="code" />
		                                      <p:inputText disabled="true" id="code" value="#{reportedInstitutionsUI.reportedInstitutions.address.code}" style="width:100%"/>
		                                  </h:panelGroup>
							        </p:panelGrid>
							        
							        <p:panelGrid rendered="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback ne null}"  class="list-group-item" style="width:100%" columns="1" layout="grid" >
										<h:panelGroup >
											 <small><p:outputLabel value="Investigator Feedback" for="feedback" /></small>
											 <p:textEditor widgetVar="feedback" id="feedback" value="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback}" height="300" style="margin-bottom:10px"/>
										</h:panelGroup>
									</p:panelGrid>
					   			
					   		</p:panel>
					   		<p:fieldset id="mapFS" styleClass="margin"  rendered="#{reportedInstitutionsUI.showMap}" >
							    <h:panelGrid id="mapPG" style="width:100%">
							       <h:form prependId="false">
									    <p:gmap id="gmap" center="#{reportedInstitutionsUI.reportedInstitutions.getAddress().getLatitude()},#{reportedInstitutionsUI.reportedInstitutions.getAddress().getLongitude()}" zoom="15" type="STREET" style="width:100%;height:400px" model="#{reportedInstitutionsUI.circleModel}">
									        <p:ajax event="overlaySelect" listener="#{reportedInstitutionsUI.onCircleSelect}"/>
									    </p:gmap>
									</h:form>
								</h:panelGrid>
					   		</p:fieldset>
				   	</div>
			 </h:form>
		        
		      
			
		        
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
