<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

     <body>
	    <ui:composition>
		   <!-- /.content-wrapper -->
		  <footer class="main-footer">
		    <div class="container">
		      <div class="pull-right hidden-xs">
		        <b>Version</b> 2.4.0
		      </div>
		      <strong>Copyright @; 2017-2018 <a href="#">Tulsaspark</a>.</strong> All rights
		      reserved.
		    </div>
		    <!-- /.container -->
		  </footer>
	   </ui:composition>
    </body>
</html>
